.image {
  height: 48px;
  width: 48px;
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--gray-500);
  display: none;
}
.guyHawkins,
.uxDesigner {
  align-self: stretch;
  position: relative;
}
.guyHawkins {
  line-height: 24px;
  font-weight: 500;
}
.uxDesigner {
  font-size: var(--body-small-500-size);
  line-height: 20px;
  color: var(--gray-500);
}
.savedCandidatesFrame {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  font-size: var(--button-button-size);
}
.suniorUxDesigner {
  width: 355px;
  height: 20px;
  position: relative;
  line-height: 20px;
  display: inline-block;
  max-width: 100%;
}
.date {
  flex: 1;
  white-space: nowrap;
}
.date,
.div,
.fullTime {
  align-self: stretch;
  position: relative;
  line-height: 18px;
}
.dateParent,
.suniorUxDesignerParent {
  align-items: flex-start;
  justify-content: flex-start;
}
.dateParent {
  width: 182px;
  height: 18px;
  display: flex;
  flex-direction: row;
  gap: var(--gap-5xs);
  font-size: var(--body-xs-400-size);
  color: var(--gray-500);
}
.suniorUxDesignerParent {
  display: none;
  flex-direction: column;
  gap: var(--gap-9xs);
  opacity: 0;
  max-width: 100%;
}
.mappinIcon {
  height: 20px;
  width: 20px;
  position: relative;
  min-height: 20px;
}
.losAngales {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 20px;
  white-space: pre-wrap;
}
.mappinParent {
  height: 20px;
  width: 185px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  color: var(--gray-500);
}
.stackIcon {
  height: 20px;
  width: 20px;
  position: relative;
  min-height: 20px;
}
.years {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 20px;
}
.stackParent {
  height: 20px;
  width: 150px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  color: var(--gray-500);
}
.bookmarksimpleIcon {
  height: 24px;
  width: 24px;
  position: relative;
}
.iconButton {
  border-radius: var(--br-8xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs);
}
.primary {
  position: relative;
  font-size: var(--button-button-size);
  line-height: 24px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--button-button);
  color: var(--primary-500);
  text-align: left;
}
.fiarrowRightIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-6xl) var(--padding-xs)
    var(--padding-5xl);
  background-color: var(--primary-50);
  border-radius: var(--br-10xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  white-space: nowrap;
}
.button:hover {
  background-color: var(--color-lightgray-100);
}
.dotsthreeverticalIcon {
  height: 24px;
  width: 24px;
  position: relative;
}
.iconButton1 {
  border-radius: var(--br-8xs);
  align-items: flex-start;
  padding: var(--padding-xs);
}
.candidate,
.iconButton1,
.iconButtonParent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.iconButtonParent {
  flex: 1;
  align-items: flex-start;
  gap: var(--gap-5xs);
  min-width: 188px;
}
.candidate {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--gray-scale-white);
  flex-wrap: wrap;
  align-items: center;
  padding: var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-20xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--body-small-500-size);
  color: var(--gray-900);
  font-family: var(--button-button);
}
@media screen and (max-width: 900px) {
  .candidate {
    gap: var(--gap-20xl);
  }
}
