.popularCategories {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 48px;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.primary {
  position: relative;
  font-size: var(--button-button-size);
  line-height: 24px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--button-button);
  color: var(--primary-500);
  text-align: left;
}
.fiarrowRightIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.button {
  cursor: pointer;
  border: 1px solid var(--primary-50);
  padding: var(--padding-xs) var(--padding-2xl);
  background-color: transparent;
  width: 147px;
  border-radius: var(--br-10xs);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
}
.button:hover {
  background-color: var(--color-lightgray-300);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
}
.heading,
.megaphoneIconGroup {
  width: 1320px;
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.heading {
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.megaphoneIconGroup {
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 24px 20.67px;
  min-height: 256px;
  text-align: left;
  font-size: var(--body-large-500-size);
}
.category {
  align-self: stretch;
  background-color: var(--gray-scale-white);
  box-shadow: 0-1px 0#e4e5e8 inset;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) var(--padding-81xl);
  box-sizing: border-box;
  gap: var(--gap-31xl);
  max-width: 100%;
  text-align: justify;
  font-size: var(--heading-01-size);
  color: var(--gray-900);
  font-family: var(--button-button);
}
@media screen and (max-width: 900px) {
  .popularCategories {
    font-size: var(--heading-03-size);
    line-height: 38px;
  }
  .heading {
    flex-wrap: wrap;
  }
  .category {
    gap: var(--gap-31xl);
  }
}
@media screen and (max-width: 450px) {
  .popularCategories {
    font-size: var(--heading-04-size);
    line-height: 29px;
  }
  .category {
    padding-bottom: var(--padding-46xl);
    box-sizing: border-box;
  }
}
