.jobDescription {
  align-self: stretch;
  position: relative;
  font-size: var(--body-large-500-size);
  line-height: 28px;
  font-weight: 500;
  color: var(--gray-900);
}
.hereAtVelstar,
.theRoleWill,
.velstarIsA,
.wantToWork {
  width: 734px;
  position: relative;
  line-height: 24px;
  display: inline-block;
  max-width: 100%;
}
.requirements {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.experienceWithHtml,
.familiarityWithVersion,
.greatTroubleshootingAnd,
.greatTroubleshootingAnd1,
.haveExperienceawarenessIn,
.workingRegularlyWith,
.yearsOfExperience {
  margin-bottom: 0;
}
.greatTroubleshootingAndAnal {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-2xl);
}
.greatTroubleshootingAndContainer {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  color: var(--gray-600);
}
.googleCard {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-5xs);
  gap: var(--gap-5xs);
}
.desirable {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.workingKnowledgeOf,
.workingKnowledgeOf1 {
  margin-bottom: 0;
}
.workingKnowledgeOfEcommerce {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-2xl);
}
.workingKnowledgeOfContainer {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  color: var(--gray-600);
}
.googleCard1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-5xs);
  gap: var(--gap-5xs);
}
.benefits {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.accessToPerkbox,
.brandNewMacbook,
.contributionForYour,
.cycle2Work,
.daysHolidayIncluding,
.earlyFinishOn,
.freeBreakfastOn,
.generousAnnualBonus,
.healthcarePackage,
.paidCommunityDays {
  margin-bottom: 0;
}
.earlyFinishOnFridaysForOu {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-2xl);
}
.earlyFinishOnContainer {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  color: var(--gray-600);
}
.companyInfo,
.experienceYear {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.experienceYear {
  width: 734px;
  gap: var(--gap-5xs);
  color: var(--gray-900);
}
.companyInfo {
  flex: 1;
  gap: var(--gap-base);
  min-width: 494px;
  text-align: left;
  font-size: var(--button-button-size);
  color: var(--gray-600);
  font-family: var(--button-button);
}
@media screen and (max-width: 900px) {
  .companyInfo {
    min-width: 100%;
  }
}
