.filetextIcon {
  height: 32px;
  width: 32px;
  position: relative;
}
.mb,
.professionalResume {
  position: relative;
  line-height: 20px;
}
.professionalResume {
  align-self: stretch;
  font-weight: 500;
}
.mb {
  color: var(--gray-600);
}
.information {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.dot,
.dot1,
.dot2 {
  height: 3px;
  width: 3px;
  position: relative;
  border-radius: 50%;
  background-color: var(--gray-500);
}
.button,
.cvResume {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button {
  width: 24px;
  justify-content: space-between;
  padding: var(--padding-2xs-5) var(--padding-9xs);
  box-sizing: border-box;
  gap: var(--gap-9xs-5);
}
.cvResume {
  flex: 1;
  border-radius: var(--br-7xs);
  background-color: var(--color-whitesmoke-400);
  justify-content: flex-start;
  padding: var(--padding-xl);
  gap: var(--gap-xs);
  text-align: left;
  font-size: var(--body-small-500-size);
  color: var(--gray-900);
  font-family: var(--button-button);
}
