.deleteAccount {
  align-self: stretch;
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.currentPassword,
.password {
  position: relative;
  line-height: 20px;
}
.password {
  width: 74px;
  border: 0;
  outline: 0;
  font-family: var(--button-button);
  font-size: var(--button-button-size);
  background-color: transparent;
  height: 24px;
  line-height: 24px;
  color: var(--gray-400);
  text-align: left;
  display: inline-block;
}
.fieyeIcon {
  height: 22px;
  width: 22px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.inputField1 {
  align-self: stretch;
  border-radius: var(--br-8xs);
  background-color: var(--gray-scale-white);
  border: 1px solid var(--gray-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-lgi) var(--padding-xs)
    var(--padding-mid);
  gap: var(--gap-xl);
}
.inputField {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  min-width: 237px;
}
.newPassword,
.password1 {
  position: relative;
  line-height: 20px;
}
.password1 {
  width: 74px;
  border: 0;
  outline: 0;
  font-family: var(--button-button);
  font-size: var(--button-button-size);
  background-color: transparent;
  height: 24px;
  line-height: 24px;
  color: var(--gray-400);
  text-align: left;
  display: inline-block;
}
.fieyeIcon1 {
  height: 22px;
  width: 22px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.inputField3 {
  align-self: stretch;
  border-radius: var(--br-8xs);
  background-color: var(--gray-scale-white);
  border: 1px solid var(--gray-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-lgi) var(--padding-xs)
    var(--padding-mid);
  gap: var(--gap-xl);
}
.inputField2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  min-width: 237px;
}
.confirmPassword,
.password2 {
  position: relative;
  line-height: 20px;
}
.password2 {
  width: 74px;
  border: 0;
  outline: 0;
  font-family: var(--button-button);
  font-size: var(--button-button-size);
  background-color: transparent;
  height: 24px;
  line-height: 24px;
  color: var(--gray-400);
  text-align: left;
  display: inline-block;
}
.fieyeIcon2 {
  height: 22px;
  width: 22px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.inputField5 {
  align-self: stretch;
  border-radius: var(--br-8xs);
  background-color: var(--gray-scale-white);
  border: 1px solid var(--gray-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-lgi) var(--padding-xs)
    var(--padding-mid);
  gap: var(--gap-xl);
}
.buttonX,
.frameAccountDetails,
.inputField4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.inputField4 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xs);
  min-width: 237px;
}
.buttonX,
.frameAccountDetails {
  align-self: stretch;
  gap: var(--gap-lg);
}
.buttonX {
  flex-direction: row;
  flex-wrap: wrap;
  font-size: var(--body-small-500-size);
}
.frameAccountDetails {
  flex-direction: column;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--body-large-500-size);
  color: var(--gray-900);
  font-family: var(--button-button);
}
