.selected {
  position: relative;
  line-height: 20px;
}
.fichevronDownIcon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
}
.select {
  width: 180px;
  border-radius: var(--br-7xs);
  background-color: var(--gray-scale-white);
  border: 1px solid var(--gray-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-sm) var(--padding-mid);
  gap: var(--gap-xl);
}
.selected1 {
  position: relative;
  line-height: 20px;
}
.fichevronDownIcon1 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
}
.select1 {
  width: 180px;
  border-radius: var(--br-7xs);
  background-color: var(--gray-scale-white);
  border: 1px solid var(--gray-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-sm) var(--padding-mid);
  gap: var(--gap-xl);
  white-space: nowrap;
  color: var(--color-darkslategray-100);
}
.grid1Icon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.grid {
  border-radius: var(--br-10xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs);
}
.grid11 {
  margin: 0;
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.grid1 {
  border-radius: var(--br-10xs);
  background-color: var(--gray-scale-50);
  justify-content: flex-start;
  padding: var(--padding-7xs);
}
.filter,
.filterWrapper,
.grid1,
.viewType {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.viewType {
  border-radius: var(--br-7xs);
  background-color: var(--gray-scale-white);
  border: 1px solid var(--gray-100);
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-4xs) var(--padding-5xs)
    var(--padding-6xs);
  gap: var(--gap-5xs);
}
.filter,
.filterWrapper {
  box-sizing: border-box;
  max-width: 100%;
}
.filter {
  flex: 1;
  background-color: var(--gray-scale-white);
  justify-content: center;
  padding: var(--padding-lg) var(--padding-xl) var(--padding-lg)
    var(--padding-841xl);
  gap: var(--gap-base);
}
.filterWrapper {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 var(--padding-4xl);
  text-align: left;
  font-size: var(--body-small-500-size);
  color: var(--gray-700);
  font-family: var(--button-button);
}
@media screen and (max-width: 1600px) {
  .filter {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1275px) {
  .filter {
    padding-left: var(--padding-411xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .filter {
    padding-left: var(--padding-196xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .filter {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}
