.calendarblankIcon {
  width: 32px;
  height: 32px;
  position: relative;
}
.jobPosted,
.jun2021 {
  align-self: stretch;
  position: relative;
}
.jobPosted {
  line-height: 18px;
  text-transform: uppercase;
}
.jun2021 {
  font-size: var(--body-small-500-size);
  line-height: 20px;
  font-weight: 500;
  color: var(--gray-900);
}
.heading,
.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading {
  align-self: stretch;
  gap: var(--gap-9xs);
}
.info {
  flex: 1;
  gap: var(--gap-xs);
  min-width: 109px;
  text-align: left;
  font-size: var(--body-xs-400-size);
  color: var(--gray-500);
  font-family: var(--button-button);
}
