.addYourJob {
  position: relative;
  line-height: 24px;
}
.addYourJobDescriptionWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs);
}
.textBolder1Icon {
  height: 18px;
  width: 18px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.labelEducation {
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs);
}
.textItalic1Icon {
  height: 18px;
  width: 18px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.frameExperience {
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs);
}
.textUnderline1Icon {
  height: 18px;
  width: 18px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.salaryRange {
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs);
}
.textstrikethroughIcon {
  height: 18px;
  width: 18px;
  position: relative;
}
.labelEducationParent,
.maxSaleryInput {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.maxSaleryInput {
  border-radius: var(--br-9xs);
  padding: var(--padding-5xs);
}
.labelEducationParent {
  padding: 0 var(--padding-5xs) 0 0;
}
.vacanciesInput {
  width: 1px;
  height: 24px;
  position: relative;
  border-right: 1px solid var(--gray-100);
  box-sizing: border-box;
}
.vacanciesInputWrapper {
  height: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) 0 0;
  box-sizing: border-box;
}
.filinkIcon {
  height: 18px;
  width: 18px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.jobLevelSelect,
.jobLevelSelectWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.jobLevelSelect {
  border-radius: var(--br-9xs);
  flex-direction: row;
  padding: var(--padding-5xs);
}
.jobLevelSelectWrapper {
  flex-direction: column;
  padding: 0 var(--padding-5xs) 0 0;
}
.frameJobDetails {
  width: 1px;
  height: 24px;
  position: relative;
  border-right: 1px solid var(--gray-100);
  box-sizing: border-box;
}
.frameJobDetailsWrapper {
  height: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) 0 0;
  box-sizing: border-box;
}
.listdashesIcon {
  height: 18px;
  width: 18px;
  position: relative;
}
.listSeparator {
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs);
}
.listnumbersIcon {
  height: 18px;
  width: 18px;
  position: relative;
}
.frameParent,
.inputField,
.listBulletNumbers {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.listBulletNumbers {
  border-radius: var(--br-9xs);
  align-items: flex-start;
  padding: var(--padding-5xs);
}
.frameParent,
.inputField {
  align-items: center;
  padding: 0 var(--padding-xl) 0 0;
}
.inputField {
  position: absolute;
  top: 878px;
  left: 636px;
  border-radius: var(--br-7xs);
  background-color: var(--gray-scale-white);
  border: 1px solid var(--gray-100);
  box-sizing: border-box;
  width: 984px;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-xs) var(--padding-3xs) var(--padding-5xs);
  gap: var(--gap-73xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--button-button-size);
  color: var(--gray-400);
  font-family: var(--button-button);
}
