.interactionDesigner {
  align-self: stretch;
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.partTime {
  position: relative;
  line-height: 12px;
  text-transform: uppercase;
  font-weight: 600;
}
.type {
  border-radius: var(--br-10xs);
  background-color: var(--success-50);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-5xs);
}
.salary20000 {
  position: relative;
  font-size: var(--body-small-500-size);
  line-height: 20px;
  color: var(--gray-500);
}
.frameJobExpireLevel,
.heading {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameJobExpireLevel {
  flex-direction: row;
  gap: var(--gap-5xs);
  font-size: var(--body-xs-400-size);
  color: var(--success-500);
}
.heading {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-7xs);
}
.googleInc {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.mappinIcon {
  height: 18px;
  width: 18px;
  position: relative;
}
.dhakaBangladesh {
  flex: 1;
  position: relative;
  line-height: 20px;
}
.info,
.loaction {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.loaction {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  font-size: var(--body-small-500-size);
  color: var(--gray-500);
}
.info {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  min-width: 222px;
  max-width: 100%;
}
.bookmarksimpleIcon {
  height: 24px;
  width: 24px;
  position: relative;
}
.company,
.job {
  display: flex;
  max-width: 100%;
}
.company {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
  font-size: var(--button-button-size);
}
.job {
  width: 425px;
  border-radius: var(--br-5xs);
  background-color: var(--gray-scale-white);
  box-shadow: 0 2px 18px rgba(24, 25, 28, 0.03);
  border: 1px solid var(--gray-100);
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-6xl) var(--padding-5xl)
    var(--padding-4xl);
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--body-large-500-size);
  color: var(--gray-900);
  font-family: var(--button-button);
}
@media screen and (max-width: 450px) {
  .company {
    flex-wrap: wrap;
  }
}
