.employersLogoIcon {
  height: 28px;
  width: 28px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.employersLogo {
  border-radius: var(--br-7xs);
  background-color: var(--color-hotpink);
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl);
}
.featured,
.suniorUxDesigner {
  position: relative;
  font-weight: 500;
}
.suniorUxDesigner {
  font-size: var(--body-large-500-size);
  line-height: 28px;
}
.featured {
  align-self: stretch;
  line-height: 20px;
}
.badge {
  height: 26px;
  border-radius: var(--br-33xl);
  background-color: var(--danger-501);
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-xs);
  box-sizing: border-box;
  color: var(--danger-500);
}
.featured1 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.badge1,
.heading1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.badge1 {
  border-radius: var(--br-33xl);
  background-color: var(--primary-50);
  align-items: flex-start;
  padding: var(--padding-10xs) var(--padding-xs);
  color: var(--primary-500);
}
.heading1 {
  align-items: center;
  gap: var(--gap-5xs);
}
.fimapPinIcon {
  height: 22px;
  width: 22px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 22px;
}
.california {
  position: relative;
  line-height: 20px;
}
.loaction {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  min-width: 97px;
}
.currencyDollar1Icon {
  height: 22px;
  width: 22px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 22px;
}
.k80kmonth {
  position: relative;
  line-height: 20px;
}
.price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.calendarBlank11 {
  height: 22px;
  width: 22px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 22px;
}
.daysRemaining {
  position: relative;
  line-height: 20px;
}
.info1,
.price1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.price1 {
  flex: 1;
  gap: var(--gap-7xs);
  min-width: 97px;
}
.info1 {
  align-self: stretch;
  gap: var(--gap-base);
  color: var(--gray-600);
}
.heading,
.info {
  display: flex;
  max-width: 100%;
}
.heading {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.info {
  width: 467px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
}
.bookmarksimpleIcon {
  height: 24px;
  width: 24px;
  position: relative;
}
.iconButton {
  border-radius: var(--br-8xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs);
}
.primary {
  position: relative;
  font-size: var(--button-button-size);
  line-height: 24px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--button-button);
  color: var(--primary-500);
  text-align: left;
}
.fiarrowRightIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-6xl) var(--padding-xs)
    var(--padding-5xl);
  background-color: var(--primary-50);
  border-radius: var(--br-10xs);
  flex-direction: row;
  gap: var(--gap-5xs);
  white-space: nowrap;
}
.button:hover {
  background-color: var(--color-lightgray-100);
}
.button,
.job,
.location,
.locationWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.location {
  flex-direction: row;
  gap: var(--gap-5xs);
}
.job,
.locationWrapper {
  flex-direction: column;
  padding: 0 0 var(--padding-9xs);
}
.job {
  align-self: stretch;
  border-radius: var(--br-xs);
  background: linear-gradient(
    90deg,
    rgba(255, 246, 230, 0),
    rgba(255, 255, 255, 0)
  );
  border: 1px solid var(--gray-100);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-13xl) var(--padding-22xl) var(--padding-19xl)
    var(--padding-13xl);
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--body-small-500-size);
  color: var(--gray-900);
  font-family: var(--button-button);
}
@media screen and (max-width: 900px) {
  .info1,
  .job {
    flex-wrap: wrap;
  }
}
