.suniorUxDesigner {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.featured {
  position: relative;
  line-height: 20px;
}
.badge,
.heading1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.badge {
  border-radius: var(--br-33xl);
  background-color: var(--primary-50);
  align-items: flex-start;
  padding: var(--padding-10xs) var(--padding-xs);
  font-size: var(--body-small-500-size);
  color: var(--primary-500);
}
.heading1 {
  align-items: center;
  gap: var(--gap-5xs);
  font-size: var(--button-button-size);
}
.googleInc {
  position: relative;
  line-height: 24px;
}
.fimapPinIcon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
}
.newYork {
  position: relative;
  line-height: 20px;
}
.loaction {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.currencyDollar1Icon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
}
.k80kmonth {
  position: relative;
  line-height: 20px;
}
.price {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-7xs);
}
.heading,
.headingParent,
.info,
.price {
  display: flex;
  justify-content: flex-start;
}
.info {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-base);
  color: var(--gray-600);
}
.heading,
.headingParent {
  flex-direction: column;
  align-items: flex-start;
}
.heading {
  height: 56px;
  flex: 1;
  justify-content: center;
  padding: 0 var(--padding-53xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.june122021 {
  width: 148px;
  position: relative;
  line-height: 20px;
  color: var(--gray-600);
  display: inline-block;
  flex-shrink: 0;
  white-space: nowrap;
}
.checkIcon {
  height: 16px;
  width: 16px;
  position: relative;
}
.active {
  flex: 1;
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.statusIndicator {
  width: 148px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  color: var(--success-500);
}
.primary {
  position: relative;
  font-size: var(--button-button-size);
  line-height: 24px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--button-button);
  color: var(--primary-500);
  text-align: left;
}
.button,
.job {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-3xl);
  background-color: var(--gray-50);
  border-radius: var(--br-10xs);
  justify-content: center;
  white-space: nowrap;
}
.button:hover {
  background-color: var(--color-gainsboro-200);
}
.job {
  width: 984px;
  border-radius: var(--br-5xs);
  justify-content: flex-start;
  padding: var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  z-index: 3;
  text-align: left;
  font-size: var(--body-small-500-size);
  color: var(--gray-900);
  font-family: var(--button-button);
}
@media screen and (max-width: 450px) {
  .heading1 {
    flex-wrap: wrap;
  }
  .heading {
    height: auto;
  }
}
