.locationframe {
  align-self: stretch;
  position: relative;
  font-size: var(--body-large-500-size);
  line-height: 28px;
  font-weight: 500;
}
.mapLocation {
  height: 20px;
  position: relative;
  line-height: 20px;
  display: inline-block;
}
.emailAddress {
  position: absolute;
  top: 12px;
  left: 18px;
  line-height: 24px;
  display: none;
}
.inputField1 {
  align-self: stretch;
  height: 48px;
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--gray-scale-white);
  border: 1px solid var(--gray-100);
  box-sizing: border-box;
  font-size: var(--button-button-size);
  color: var(--gray-400);
}
.inputField {
  align-self: stretch;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.phone {
  position: relative;
  line-height: 20px;
}
.image1Icon {
  height: 16px;
  width: 24px;
  position: relative;
  object-fit: cover;
  display: none;
}
.india {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.caretdownIcon {
  height: 16px;
  width: 16px;
  position: relative;
}
.image1Parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.inputFieldPhone {
  height: 32px;
  width: 1px;
  position: relative;
  border-right: 1px solid var(--gray-100);
  box-sizing: border-box;
}
.fisearchIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 24px;
}
.jobTittleKeyword {
  position: relative;
  line-height: 24px;
}
.fisearchParent,
.searchiconLocation {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.fisearchParent {
  justify-content: center;
  gap: var(--gap-xs);
  font-size: var(--button-button-size);
  color: var(--gray-400);
}
.searchiconLocation {
  height: 32px;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.inputField2,
.search {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.search {
  border-radius: var(--br-8xs);
  background-color: var(--gray-scale-white);
  border: 1px solid var(--gray-100);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-4xs) var(--padding-5xl);
}
.inputField2 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.email {
  position: relative;
  line-height: 20px;
}
.envelopeIcon {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.jobTittleKeyword1 {
  width: 106px;
  border: 0;
  outline: 0;
  font-family: var(--button-button);
  font-size: var(--button-button-size);
  background-color: transparent;
  height: 24px;
  position: relative;
  line-height: 24px;
  color: var(--gray-400);
  text-align: left;
  display: inline-block;
}
.inputField3,
.inputField4,
.location {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.inputField4 {
  border-radius: var(--br-7xs);
  background-color: var(--gray-scale-white);
  border: 1px solid var(--gray-100);
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-lg);
  gap: var(--gap-xs);
}
.inputField3,
.location {
  flex-direction: column;
  gap: var(--gap-5xs);
}
.location {
  gap: var(--gap-lg);
  flex-shrink: 0;
  text-align: left;
  font-size: var(--body-small-500-size);
  color: var(--gray-900);
  font-family: var(--button-button);
}
