.button,
.buttonChild {
  height: 48px;
  width: 48px;
  display: none;
}
.buttonChild {
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}
.button {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.addCVButton,
.inputFieldEmail,
.inputFieldEmail1 {
  height: 20px;
  width: 4px;
  position: relative;
  border-right: 4px solid var(--gradient-red-gradient-9);
  box-sizing: border-box;
}
.addCVButton,
.inputFieldEmail1 {
  height: 16px;
  border-right: 4px solid var(--gradient-orange-gradient-10);
}
.addCVButton {
  height: 12px;
  border-right: 4px solid var(--gradient-blue-gradient-19);
}
.jobsync {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 40px;
  font-weight: 600;
  font-family: inherit;
}
.sitelogo {
  height: 26px;
  width: 0;
  position: relative;
  font-size: var(--font-size-3xl);
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-black);
  display: inline-block;
  z-index: 1;
  margin-left: -100px;
}
.cVResumeFrame,
.primaryButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.primaryButton {
  flex: 1;
}
.cVResumeFrame {
  width: 110px;
  gap: var(--gap-5xs);
}
.navigation,
.navigation1,
.navigation2,
.navigation3 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
}
.navigation3 {
  background-color: var(--gray-scale-white);
  justify-content: flex-start;
  padding: var(--padding-4xl) var(--padding-9xl) var(--padding-8xl);
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.navigation,
.navigation1,
.navigation2 {
  box-shadow: 0-1px 0#e4e5e8 inset;
  justify-content: center;
}
.navigation {
  text-align: left;
  font-size: var(--heading-04-size);
  color: var(--gray-900);
  font-family: var(--button-button);
}
@media screen and (max-width: 450px) {
  .jobsync {
    font-size: var(--font-size-lgi);
    line-height: 32px;
  }
  .sitelogo {
    font-size: var(--body-large-500-size);
  }
  .navigation3 {
    flex-wrap: wrap;
  }
}
