.button,
.buttonChild {
  height: 48px;
  width: 48px;
  display: none;
}
.buttonChild {
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}
.button {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.sitelogoChild,
.sitelogoInner,
.sitelogoItem {
  height: 20px;
  width: 4px;
  position: relative;
  border-right: 4px solid var(--gradient-red-gradient-9);
  box-sizing: border-box;
}
.sitelogoInner,
.sitelogoItem {
  height: 16px;
  border-right: 4px solid var(--gradient-orange-gradient-10);
}
.sitelogoInner {
  height: 12px;
  border-right: 4px solid var(--gradient-blue-gradient-19);
}
.sitelogo1 {
  align-self: stretch;
  width: 0;
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  white-space: nowrap;
}
.sitelogo {
  height: 26px;
  width: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  z-index: 1;
}
.jobsync {
  position: relative;
  font-size: var(--heading-04-size);
  line-height: 40px;
  font-weight: 600;
  font-family: var(--button-button);
  color: var(--gray-900);
  white-space: nowrap;
  margin: 0 0 0-2px;
}
.sitelogoParent,
.suniorUXDesignerText {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.suniorUXDesignerText {
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 var(--padding-9xs);
  font-family: var(--font-roboto);
}
.image1Icon {
  height: 16px;
  width: 24px;
  position: relative;
  object-fit: cover;
}
.india {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.caretdownIcon {
  height: 16px;
  width: 16px;
  position: relative;
}
.image1Parent {
  height: 20px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
}
.searchChild {
  height: 33px;
  width: 1px;
  position: relative;
  border-right: 1px solid var(--gray-100);
  box-sizing: border-box;
  display: none;
}
.fisearchIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.skillsKeyword {
  width: 112px;
  border: 0;
  outline: 0;
  font-family: var(--button-button);
  font-size: var(--button-button-size);
  background-color: transparent;
  height: 24px;
  position: relative;
  line-height: 24px;
  color: var(--gray-400);
  text-align: left;
  display: inline-block;
  white-space: nowrap;
}
.search,
.searchWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.search {
  width: 779px;
  border-radius: var(--br-8xs);
  background-color: var(--gray-scale-white);
  border: 1px solid var(--gray-100);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-5xl);
  gap: var(--gap-xs);
}
.searchWrapper {
  width: 1029px;
  flex-direction: column;
  font-size: var(--body-small-500-size);
  color: var(--gray-900);
}
.home {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 20px;
  font-weight: 400;
  font-family: inherit;
}
.homeWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs) 0 0;
}
.dashboard,
.myProfile {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-family: inherit;
}
.dashboard {
  flex: 1;
  line-height: 20px;
  font-weight: 700;
  color: var(--primary-500);
}
.myProfile {
  font-weight: 400;
  white-space: nowrap;
}
.signoutIcon {
  height: 24px;
  width: 24px;
  position: relative;
}
.logOut {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 20px;
  font-weight: 400;
  font-family: inherit;
}
.signoutParent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  color: var(--gray-500);
}
.frameParent {
  width: 450px;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-8xl);
  font-size: var(--body-xl-500-size);
  color: var(--gray-600);
}
.frameParent,
.navigation,
.navigation1,
.navigation2,
.navigation3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
}
.navigation3 {
  margin: 0;
  flex: 1;
  background-color: var(--gray-scale-white);
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-9xl);
  box-sizing: border-box;
  gap: var(--gap-12xl);
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-black);
  font-family: var(--button-button);
}
.navigation,
.navigation1,
.navigation2 {
  box-shadow: 0-1px 0#e4e5e8 inset;
  justify-content: center;
}
.navigation1,
.navigation2 {
  flex: 1;
}
.navigation {
  align-self: stretch;
  z-index: 1;
}
@media screen and (max-width: 1600px) {
  .frameParent {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .navigation3 {
    gap: var(--gap-12xl);
  }
}
