.navigation {
  align-self: stretch;
  box-shadow: 0-1px 0#e4e5e8 inset;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-black);
  font-family: var(--button-button);
}
