.relatedJobs {
  margin: 0;
  width: 1323px;
  position: relative;
  font-size: inherit;
  line-height: 48px;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
}
.jobInteractionDesignerFrame {
  width: 1323px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 24px 20px;
  min-height: 364px;
  max-width: 100%;
  font-size: var(--body-large-500-size);
}
.relatedJobsFrame,
.reletedJobs {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.reletedJobs {
  flex: 1;
  background-color: var(--gray-scale-white);
  box-shadow: 0 1px 0#edeff5 inset;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-31xl) var(--padding-xl) var(--padding-81xl);
  gap: var(--gap-31xl);
}
.relatedJobsFrame {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0;
  text-align: left;
  font-size: var(--heading-01-size);
  color: var(--gray-900);
  font-family: var(--button-button);
}
@media screen and (max-width: 900px) {
  .relatedJobs {
    font-size: var(--heading-03-size);
    line-height: 38px;
  }
  .reletedJobs {
    gap: var(--gap-31xl);
    padding-top: var(--padding-13xl);
    padding-bottom: var(--padding-46xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .relatedJobs {
    font-size: var(--heading-04-size);
    line-height: 29px;
  }
}
