.employersDashboard {
  width: 248px;
  position: relative;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
}
.stackIcon {
  height: 24px;
  width: 24px;
  position: relative;
}
.logOut {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.dashboardNavItem {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-base);
}
.logOut1 {
  position: absolute;
  top: calc(50% - 10px);
  left: 60px;
  line-height: 20px;
  font-weight: 500;
}
.usercircleIcon {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 24px;
  height: 24px;
}
.dashboardNavItem1 {
  align-self: stretch;
  height: 44px;
  position: relative;
  display: none;
}
.pluscircleIcon {
  height: 24px;
  width: 24px;
  position: relative;
}
.logOut2 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.dashboardNavItem2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-base);
}
.briefcaseIcon {
  height: 24px;
  width: 24px;
  position: relative;
}
.logOut3 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.dashboardNavItem3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-base);
}
.bookmarksimple {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
}
.logOut4 {
  position: relative;
  font-size: var(--body-small-500-size);
  line-height: 20px;
  font-weight: 500;
  font-family: var(--button-button);
  color: var(--primary-500);
  text-align: left;
}
.dashboardNavItem4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--primary-50);
  align-self: stretch;
  box-shadow: 3px 0 0#0a65cc inset;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
  white-space: nowrap;
}
.dashboardNavItem4:hover {
  background-color: var(--color-lightgray-100);
}
.logOut5 {
  position: absolute;
  top: calc(50% - 10px);
  left: 60px;
  line-height: 20px;
  font-weight: 500;
}
.notebookIcon {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 24px;
  height: 24px;
}
.dashboardNavItem5 {
  align-self: stretch;
  height: 44px;
  position: relative;
  display: none;
}
.logOut6 {
  position: absolute;
  top: calc(50% - 10px);
  left: 60px;
  line-height: 20px;
  font-weight: 500;
}
.userListIcon {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.dashboardNavItem6 {
  align-self: stretch;
  height: 44px;
  position: relative;
  display: none;
}
.logOut7 {
  position: absolute;
  top: calc(50% - 10px);
  left: 60px;
  line-height: 20px;
  font-weight: 500;
}
.gearIcon {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 24px;
  height: 24px;
}
.dashboardNavItem7 {
  align-self: stretch;
  height: 44px;
  position: relative;
  display: none;
}
.dashboardnavitemstack,
.sidebarheaderframe {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.dashboardnavitemstack {
  align-items: flex-start;
  font-size: var(--body-small-500-size);
  color: var(--gray-500);
}
.sidebarheaderframe {
  align-items: center;
  gap: var(--gap-xs);
}
.logOut8 {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.bookmarkSimpleicon {
  width: 120px;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-41xl);
  box-sizing: border-box;
  font-size: var(--body-small-500-size);
  color: var(--gray-500);
}
.signoutIcon {
  width: 24px;
  height: 24px;
  position: relative;
  display: none;
}
.sidebar {
  width: 288px;
  background-color: var(--gray-scale-white);
  box-shadow: -1px 0 0#e4e5e8 inset;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) 0 var(--padding-17xl);
  box-sizing: border-box;
  gap: var(--gap-782xl);
  text-align: left;
  font-size: var(--body-xs-400-size);
  color: var(--gray-400);
  font-family: var(--button-button);
}
@media screen and (max-width: 1275px) {
  .sidebar {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-4xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .sidebar {
    display: none;
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .sidebar {
    gap: var(--gap-782xl);
  }
}
