.jobPage {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
  }
  
  .jobContent {
    flex: 1; /* Take up remaining vertical space */
    padding: 20px;
    width: 100%;
    max-width: 1200px; /* Adjust max-width as needed */
    margin: 0 auto; /* Center horizontally */
  }
  
  .jobDetailHeader,
  .jobDescriptionSection,
  .jobDetailSection {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .jobTitle {
    font-size: 2.5rem; /* Increase font size */
    font-weight: bold;
    margin-bottom: 1rem; /* Increase margin */
  }
  
  .jobCompany, 
  .jobLocation, 
  .jobPostedDate, 
  .jobApplicationDeadline, 
  .jobExperienceRequired {
    font-size: 1.25rem; /* Increase font size */
    color: #666;
    margin-bottom: 0.5rem; /* Increase margin */
  }
  
  .jobDescription {
    font-size: 1.25rem; /* Increase font size */
    color: #333;
    line-height: 1.5;
  }
  
  .sectionTitle {
    font-size: 1.5rem; /* Increase font size */
    font-weight: bold;
    margin-bottom: 1.5rem; /* Increase margin */
  }
  .list {
    margin-left: 20px;
  }

  .listItem {
    background-color: #fff;
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
    color: #333;
    line-height: 1.5;
  }
  /* Add additional styles as necessary */
  .workExperienceList {
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
    color: #333;
    line-height: 1.5;

  }

  .workExperienceTitle {
    font-family: 'Roboto', sans-serif;
    color: #333;
    line-height: 1.5;
    margin-top: 30px;
  }