.candidateSearchPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #f9f9f9;
  font-family: var(--font-roboto), sans-serif;
}

.searchResultsTitle {
  font-size: 2rem; /* Larger font size for title */
  font-weight: 590;
  color: #333;
  margin-top: 20px;
  margin-bottom: 20px; /* Provide space between title and job listings */
  width: 100%; /* Full width */
  text-align: left; /* Center title text */
}

.jobListingsContainer {
  width: 100%;
  max-width: 1200px; /* Or adjust to fit your design */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jobCard {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between; /* Space out title and button */
  align-items: center;
  width: 100%; /* Full width of container */
}

.jobTitle {
  font-size: 1.50rem;
  font-weight: 200;
  color: #333;
  flex: 1; /* Flex grow to take available space */
  margin-right: 20px; /* Space before the button */
}

.jobDetails {
  display: flex;
  flex-direction: column;
  margin-right: auto; /* Ensure details are aligned to the left of the button */
}

.companyName, .location, .postedDate {
  font-size: 1.25rem;
  color: #666;
  margin: 4px 0; /* Vertical spacing for details */
}

.viewJobButton {
  padding: 10px 20px;
  background-color: var(--primary-500);  color: white;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: var(--font-roboto), sans-serif; /* Ensure button uses Roboto */
}

.viewJobButton:hover {
  background-color: var(--color-dodgerblue);
}

.noResults {
  font-size: 1rem;
  text-align: center;
  width: 100%; /* Full width */
  padding: 20px; /* Some padding around the text */
}
