.candidateDashboard {
  width: 248px;
  position: relative;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
}
.stackIcon {
  height: 24px;
  width: 24px;
  position: relative;
}
.logOut {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.dashboardNavItem {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-base);
}
.briefcaseIcon {
  height: 24px;
  width: 24px;
  position: relative;
}
.logOut1 {
  position: relative;
  font-size: var(--body-small-500-size);
  line-height: 20px;
  font-weight: 500;
  font-family: var(--button-button);
  color: var(--primary-500);
  text-align: left;
}
.dashboardNavItem1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--primary-50);
  align-self: stretch;
  box-shadow: 3px 0 0#0a65cc inset;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
  white-space: nowrap;
}
.dashboardNavItem1:hover {
  background-color: var(--color-lightgray-100);
}
.bookmarksimpleIcon {
  height: 24px;
  width: 24px;
  position: relative;
}
.logOut2 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.dashboardNavItem2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-base);
}
.div,
.logOut3 {
  font-weight: 500;
}
.logOut3 {
  position: absolute;
  top: calc(50% - 10px);
  left: 60px;
  line-height: 20px;
}
.div {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 18px;
}
.wrapper {
  position: absolute;
  top: calc(50% - 12px);
  right: 20px;
  border-radius: var(--br-11xs);
  background-color: var(--primary-50);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-5xs);
  font-size: var(--body-xs-400-size);
  color: var(--gray-900);
}
.bellringingIcon {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 24px;
  height: 24px;
}
.dashboardNavItem3 {
  align-self: stretch;
  height: 44px;
  position: relative;
  display: none;
}
.logOut4 {
  position: absolute;
  top: calc(50% - 10px);
  left: 60px;
  line-height: 20px;
  font-weight: 500;
}
.gearIcon {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 24px;
  height: 24px;
}
.dashboardNavItem4 {
  align-self: stretch;
  height: 44px;
  position: relative;
  display: none;
}
.calltoaction {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--body-small-500-size);
  color: var(--gray-500);
}
.calltoaction,
.links,
.logOut5 {
  align-self: stretch;
}
.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.logOut5 {
  width: 0;
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
}
.signoutIcon {
  height: 24px;
  width: 24px;
  position: relative;
  display: none;
}
.dashboardNavItem5,
.sidebar {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.dashboardNavItem5 {
  align-self: stretch;
  height: 44px;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xs) var(--padding-41xl);
  gap: var(--gap-base);
  font-size: var(--body-small-500-size);
  color: var(--gray-500);
}
.sidebar {
  width: 288px;
  background-color: var(--gray-scale-white);
  box-shadow: -1px 0 0#e4e5e8 inset;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-5xl) 0;
  gap: var(--gap-671xl);
}
.appliedJobs {
  font-weight: 500;
}
.span {
  color: var(--gray-400);
}
.appliedJobs23Container {
  align-self: stretch;
  position: relative;
  line-height: 28px;
}
.action,
.dateApplied,
.jobs,
.status {
  position: relative;
  line-height: 18px;
  display: inline-block;
}
.jobs {
  flex: 1;
  min-width: 24px;
  max-width: 100%;
}
.action,
.dateApplied,
.status {
  width: 131px;
  flex-shrink: 0;
}
.action,
.status {
  width: 120px;
}
.action {
  width: 201px;
}
.lineSeparator,
.nav {
  box-sizing: border-box;
}
.nav {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: var(--gray-50);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-xl);
  max-width: 100%;
  font-size: var(--body-xs-400-size);
  color: var(--gray-700);
}
.lineSeparator {
  position: absolute;
  top: 0;
  left: 0;
  border-top: 1px solid var(--gray-100);
  width: 984px;
  height: 1px;
}
.networkingEngineer {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.featured {
  position: relative;
  line-height: 20px;
}
.badge,
.heading1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.badge {
  border-radius: var(--br-33xl);
  background-color: var(--primary-50);
  align-items: flex-start;
  padding: var(--padding-10xs) var(--padding-xs);
  font-size: var(--body-small-500-size);
  color: var(--primary-500);
}
.heading1 {
  align-items: center;
  gap: var(--gap-5xs);
  font-size: var(--button-button-size);
}
.googleInc {
  position: relative;
  line-height: 24px;
}
.fimapPinIcon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
}
.washington {
  position: relative;
  line-height: 20px;
}
.loaction {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.currencyDollar1Icon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
}
.k80kmonth {
  position: relative;
  line-height: 20px;
}
.info,
.price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.info {
  gap: var(--gap-base);
  color: var(--gray-600);
}
.heading,
.headingParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.heading {
  height: 56px;
  flex: 1;
  padding: 0 var(--padding-53xl) 0 0;
  box-sizing: border-box;
  min-width: 291px;
  max-width: 100%;
}
.june122021 {
  width: 148px;
  position: relative;
  line-height: 20px;
  color: var(--gray-600);
  display: inline-block;
  flex-shrink: 0;
  white-space: nowrap;
}
.checkIcon {
  height: 16px;
  width: 16px;
  position: relative;
}
.active {
  flex: 1;
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.checkParent {
  width: 148px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  color: var(--success-500);
}
.primary {
  position: relative;
  font-size: var(--button-button-size);
  line-height: 24px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--button-button);
  color: var(--primary-500);
  text-align: left;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-3xl);
  background-color: var(--gray-50);
  border-radius: var(--br-10xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.button:hover {
  background-color: var(--color-gainsboro-200);
}
.job,
.jobChild {
  position: absolute;
  width: 100%;
}
.jobChild {
  height: 100%;
  margin: 0 !important;
  top: -0.5px;
  bottom: 0.5px;
  left: calc(50% - 488.5px);
  max-height: 100%;
  z-index: 2;
}
.job {
  top: 94px;
  left: 0.5px;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-base) var(--padding-xl)
    var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
  z-index: 1;
}
.currencySymbol {
  width: 984px;
  height: 190px;
  position: relative;
}
.buttongroup,
.labeltext {
  flex-direction: column;
  max-width: 100%;
}
.labeltext {
  width: 984px;
  overflow-x: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--body-small-500-size);
}
.buttongroup {
  align-self: stretch;
  gap: var(--gap-xl);
}
.buttongroup,
.linebreak,
.navigationmenu {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.linebreak {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-29xl) 0 0;
  box-sizing: border-box;
  max-width: calc(100% - 336px);
  font-size: var(--body-large-500-size);
  color: var(--gray-900);
}
.navigationmenu {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-29xl);
  max-width: 100%;
}
.fiarrowRightIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  transform: rotate(-180deg);
}
.iconButton {
  height: 48px;
  width: 48px;
  border-radius: var(--br-65xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs);
  box-sizing: border-box;
  transform: rotate(180deg);
}
.pagesContainer {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.pagination1 {
  flex: 1;
  border-radius: var(--br-31xl);
  background-color: var(--primary-500);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm);
  color: var(--gray-scale-white);
}
.div1 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.pagination2 {
  flex: 1;
  border-radius: var(--br-31xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm);
}
.div2 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.pagination3 {
  border-radius: var(--br-31xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-sm) var(--padding-sm)
    var(--padding-mini);
}
.div3 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.pagination4 {
  border-radius: var(--br-31xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-sm) var(--padding-sm)
    var(--padding-mini);
}
.div4 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.pages,
.pagination5 {
  flex: 1;
  display: flex;
  flex-direction: row;
}
.pagination5 {
  border-radius: var(--br-31xl);
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm);
}
.pages {
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 156px;
}
.fiarrowRightIcon1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.iconButton1,
.lastLine,
.pagination {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.iconButton1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs);
  background-color: var(--primary-50);
  height: 48px;
  width: 48px;
  border-radius: var(--br-65xl);
  justify-content: flex-start;
  box-sizing: border-box;
}
.lastLine,
.pagination {
  max-width: 100%;
}
.pagination {
  width: 352px;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.lastLine {
  width: 984px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--body-small-500-size);
  color: var(--gray-600);
}
.candidateAppliedJobs,
.headercontainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}
.headercontainer {
  width: 1360px;
  align-items: flex-end;
  padding: 0 var(--padding-xl);
  gap: var(--gap-base);
  max-width: 100%;
  text-align: left;
  font-size: var(--body-xs-400-size);
  color: var(--gray-400);
  font-family: var(--button-button);
}
.candidateAppliedJobs {
  width: 100%;
  position: relative;
  background-color: var(--gray-scale-white);
  overflow: hidden;
  align-items: center;
  padding: 0 0 90px;
  letter-spacing: normal;
}
@media screen and (max-width: 1275px) {
  .linebreak,
  .sidebar {
    box-sizing: border-box;
  }
  .sidebar {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
  }
  .linebreak {
    padding-top: var(--padding-12xl);
  }
}
@media screen and (max-width: 900px) {
  .sidebar {
    display: none;
  }
  .linebreak {
    max-width: 100%;
  }
  .navigationmenu {
    gap: var(--gap-29xl);
  }
}
@media screen and (max-width: 450px) {
  .sidebar {
    gap: var(--gap-671xl);
  }
  .heading1,
  .info {
    flex-wrap: wrap;
  }
  .heading {
    height: auto;
  }
  .currencySymbol {
    height: auto;
    min-height: 190;
  }
  .linebreak {
    padding-top: var(--padding-xl);
    box-sizing: border-box;
  }
}
