.candidateDashboard {
  width: 248px;
  position: relative;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
}
.stackIcon {
  height: 24px;
  width: 24px;
  position: relative;
}
.logOut {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.dashboardNavItem {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-base);
}
.briefcaseIcon {
  height: 24px;
  width: 24px;
  position: relative;
}
.logOut1 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.dashboardNavItem1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-base);
}
.bookmarksimple {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
}
.logOut2 {
  position: relative;
  font-size: var(--body-small-500-size);
  line-height: 20px;
  font-weight: 500;
  font-family: var(--button-button);
  color: var(--primary-500);
  text-align: left;
}
.dashboardNavItem2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: var(--primary-50);
  align-self: stretch;
  box-shadow: 3px 0 0#0a65cc inset;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
  white-space: nowrap;
}
.dashboardNavItem2:hover {
  background-color: var(--color-lightgray-100);
}
.div,
.logOut3 {
  font-weight: 500;
}
.logOut3 {
  position: absolute;
  top: calc(50% - 10px);
  left: 60px;
  line-height: 20px;
}
.div {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 18px;
}
.wrapper {
  position: absolute;
  top: calc(50% - 12px);
  right: 20px;
  border-radius: var(--br-11xs);
  background-color: var(--primary-50);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-5xs);
  font-size: var(--body-xs-400-size);
  color: var(--gray-900);
}
.bellringingIcon {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 24px;
  height: 24px;
}
.dashboardNavItem3 {
  align-self: stretch;
  height: 44px;
  position: relative;
  display: none;
}
.logOut4 {
  position: absolute;
  top: calc(50% - 10px);
  left: 60px;
  line-height: 20px;
  font-weight: 500;
}
.gearIcon {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 24px;
  height: 24px;
}
.dashboardNavItem4 {
  align-self: stretch;
  height: 44px;
  position: relative;
  display: none;
}
.dashboardNavItemParent,
.links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.dashboardNavItemParent {
  align-self: stretch;
  align-items: flex-start;
  font-size: var(--body-small-500-size);
  color: var(--gray-500);
}
.links {
  flex: 1;
  align-items: center;
  gap: var(--gap-xs);
}
.logOut5,
.signoutIcon {
  position: absolute;
  display: none;
}
.logOut5 {
  top: calc(50% - 10px);
  left: 60px;
  line-height: 20px;
  font-weight: 500;
}
.signoutIcon {
  top: 10px;
  left: 20px;
  width: 24px;
  height: 24px;
}
.dashboardNavItem5 {
  height: 44px;
  width: 288px;
  position: relative;
  display: none;
  font-size: var(--body-small-500-size);
  color: var(--gray-500);
}
.sidebar {
  height: 944px;
  width: 288px;
  background-color: var(--gray-scale-white);
  box-shadow: -1px 0 0#e4e5e8 inset;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-5xl) 0;
  box-sizing: border-box;
  gap: var(--gap-219xl);
}
.favoriteJobs {
  line-height: 28px;
  font-weight: 500;
}
.span {
  font-size: var(--button-button-size);
  line-height: 24px;
  color: var(--gray-400);
}
.favoriteJobs17Container {
  align-self: stretch;
  position: relative;
}
.employersLogoIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.employersLogo {
  height: 68px;
  border-radius: var(--br-9xs);
  background-color: var(--gray-scale-50);
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-9xl) var(--padding-base)
    var(--padding-base);
  box-sizing: border-box;
}
.seniorUxDesigner {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.featured {
  position: relative;
  line-height: 20px;
}
.badge,
.heading1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.badge {
  border-radius: var(--br-44xl);
  background-color: var(--primary-501);
  align-items: flex-start;
  padding: var(--padding-10xs) var(--padding-4xs) var(--padding-10xs)
    var(--padding-xs);
  white-space: nowrap;
  font-size: var(--body-small-500-size);
  color: var(--primary-500);
}
.heading1 {
  align-items: center;
  gap: var(--gap-5xs);
}
.fimapPinIcon {
  height: 22px;
  width: 22px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 22px;
}
.unitedKingdomOf {
  position: relative;
  line-height: 20px;
}
.loaction {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.currencyDollar1Icon {
  height: 22px;
  width: 22px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 22px;
}
.k35k {
  position: relative;
  line-height: 20px;
}
.price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.calendarBlank11 {
  height: 22px;
  width: 22px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.xcircleIcon {
  height: 20px;
  width: 20px;
  position: relative;
  min-height: 20px;
}
.daysRemaining {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.price1 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-9xs);
  color: var(--danger-500);
}
.heading,
.info,
.info1,
.price1 {
  display: flex;
  justify-content: flex-start;
}
.info1 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-base);
  font-size: var(--body-small-500-size);
  color: var(--gray-scale-600);
}
.heading,
.info {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
}
.info {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xl);
}
.bookmarksimpleIcon {
  height: 24px;
  width: 24px;
  position: relative;
}
.iconButton {
  border-radius: var(--br-8xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs);
}
.primary {
  position: relative;
  font-size: var(--button-button-size);
  line-height: 24px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--button-button);
  color: var(--gray-400);
  text-align: left;
}
.button,
.job,
.mainFrame {
  display: flex;
  flex-direction: row;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-3xl);
  background-color: var(--gray-50);
  border-radius: var(--br-10xs);
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.button:hover {
  background-color: var(--color-gainsboro-200);
}
.job,
.mainFrame {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.job {
  width: 984px;
  border-radius: var(--br-5xs);
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.locationMarkerChild {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--gray-100);
  box-sizing: border-box;
}
.employersLogoIcon1 {
  height: 24px;
  width: 24px;
  position: relative;
}
.employersLogo1 {
  height: 68px;
  border-radius: var(--br-9xs);
  background-color: red;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-9xl) var(--padding-base)
    var(--padding-base);
  box-sizing: border-box;
}
.seniorUxDesigner1 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.featured1 {
  position: relative;
  line-height: 20px;
}
.badge1,
.heading3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.badge1 {
  border-radius: var(--br-44xl);
  background-color: var(--primary-501);
  align-items: flex-start;
  padding: var(--padding-10xs) var(--padding-4xs) var(--padding-10xs)
    var(--padding-xs);
  white-space: nowrap;
  font-size: var(--body-small-500-size);
  color: var(--primary-500);
}
.heading3 {
  align-items: center;
  gap: var(--gap-5xs);
}
.fimapPinIcon1 {
  height: 22px;
  width: 22px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 22px;
}
.unitedKingdomOf1 {
  position: relative;
  line-height: 20px;
}
.loaction1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.currencyDollar1Icon1 {
  height: 22px;
  width: 22px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 22px;
}
.k35k1 {
  position: relative;
  line-height: 20px;
}
.price2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.calendarBlank111 {
  height: 22px;
  width: 22px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 22px;
}
.xcircleIcon1 {
  height: 20px;
  width: 20px;
  position: relative;
  display: none;
}
.daysRemaining1 {
  position: relative;
  line-height: 20px;
}
.price3 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-7xs);
}
.heading2,
.info2,
.info3,
.price3 {
  display: flex;
  justify-content: flex-start;
}
.info3 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-base);
  font-size: var(--body-small-500-size);
  color: var(--gray-scale-600);
}
.heading2,
.info2 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
}
.info2 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xl);
}
.bookmarksimpleIcon1 {
  height: 24px;
  width: 24px;
  position: relative;
}
.iconButton1 {
  border-radius: var(--br-8xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs);
}
.primary1 {
  position: relative;
  font-size: var(--button-button-size);
  line-height: 24px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--button-button);
  color: var(--primary-500);
  text-align: left;
}
.fiarrowRightIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.button1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-3xl);
  background-color: var(--primary-50);
  border-radius: var(--br-10xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
  white-space: nowrap;
}
.button1:hover,
.button2:hover,
.button3:hover,
.button4:hover,
.button5:hover,
.button6:hover,
.button7:hover,
.button8:hover,
.button9:hover {
  background-color: var(--color-lightgray-100);
}
.iconButtonParent,
.job1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.job1 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
}
.locationMarker {
  width: 984px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.locationMarkerItem {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--gray-100);
  box-sizing: border-box;
}
.employersLogoIcon2 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.employersLogo2 {
  height: 68px;
  border-radius: var(--br-9xs);
  background-color: var(--color-black);
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-9xl) var(--padding-base)
    var(--padding-base);
  box-sizing: border-box;
}
.seniorUxDesigner2 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.featured2 {
  position: relative;
  line-height: 20px;
}
.badge2,
.heading5 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.badge2 {
  border-radius: var(--br-44xl);
  background-color: var(--primary-501);
  align-items: flex-start;
  padding: var(--padding-10xs) var(--padding-xs);
  font-size: var(--body-small-500-size);
  color: var(--primary-500);
}
.heading5 {
  align-items: center;
  gap: var(--gap-5xs);
}
.fimapPinIcon2 {
  height: 22px;
  width: 22px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 22px;
}
.unitedKingdomOf2 {
  position: relative;
  line-height: 20px;
}
.loaction2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.currencyDollar1Icon2 {
  height: 22px;
  width: 22px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 22px;
}
.k35k2 {
  position: relative;
  line-height: 20px;
}
.price4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.calendarBlank112 {
  height: 22px;
  width: 22px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 22px;
}
.xcircleIcon2 {
  height: 20px;
  width: 20px;
  position: relative;
  display: none;
}
.daysRemaining2 {
  position: relative;
  line-height: 20px;
}
.price5 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-7xs);
}
.heading4,
.info4,
.info5,
.price5 {
  display: flex;
  justify-content: flex-start;
}
.info5 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-base);
  font-size: var(--body-small-500-size);
  color: var(--gray-scale-600);
}
.heading4,
.info4 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
}
.info4 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xl);
}
.bookmarksimpleIcon2 {
  height: 24px;
  width: 24px;
  position: relative;
}
.iconButton2 {
  border-radius: var(--br-8xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs);
}
.primary2 {
  position: relative;
  font-size: var(--button-button-size);
  line-height: 24px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--button-button);
  color: var(--primary-500);
  text-align: left;
}
.fiarrowRightIcon1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.button2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-3xl);
  background-color: var(--primary-50);
  border-radius: var(--br-10xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
  white-space: nowrap;
}
.iconButtonGroup,
.job2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.job2 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
}
.locationMarker1 {
  width: 984px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.locationMarkerInner {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--gray-100);
  box-sizing: border-box;
}
.employersLogoIcon3 {
  height: 24px;
  width: 24px;
  position: relative;
}
.employersLogo3 {
  height: 68px;
  border-radius: var(--br-9xs);
  background-color: var(--color-royalblue-100);
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-9xl) var(--padding-base)
    var(--padding-base);
  box-sizing: border-box;
}
.seniorUxDesigner3 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.featured3 {
  position: relative;
  line-height: 20px;
}
.badge3,
.heading7 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.badge3 {
  border-radius: var(--br-44xl);
  background-color: var(--primary-501);
  align-items: flex-start;
  padding: var(--padding-10xs) var(--padding-4xs) var(--padding-10xs)
    var(--padding-xs);
  white-space: nowrap;
  font-size: var(--body-small-500-size);
  color: var(--primary-500);
}
.heading7 {
  align-items: center;
  gap: var(--gap-5xs);
}
.fimapPinIcon3 {
  height: 22px;
  width: 22px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 22px;
}
.unitedKingdomOf3 {
  position: relative;
  line-height: 20px;
}
.loaction3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.currencyDollar1Icon3 {
  height: 22px;
  width: 22px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 22px;
}
.k35k3 {
  position: relative;
  line-height: 20px;
}
.price6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.calendarBlank113 {
  height: 22px;
  width: 22px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 22px;
}
.xcircleIcon3 {
  height: 20px;
  width: 20px;
  position: relative;
  display: none;
}
.daysRemaining3 {
  position: relative;
  line-height: 20px;
}
.price7 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-7xs);
}
.heading6,
.info6,
.info7,
.price7 {
  display: flex;
  justify-content: flex-start;
}
.info7 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-base);
  font-size: var(--body-small-500-size);
  color: var(--gray-scale-600);
}
.heading6,
.info6 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
}
.info6 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xl);
}
.bookmarksimpleIcon3 {
  height: 24px;
  width: 24px;
  position: relative;
}
.iconButton3 {
  border-radius: var(--br-8xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs);
}
.primary3 {
  position: relative;
  font-size: var(--button-button-size);
  line-height: 24px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--button-button);
  color: var(--primary-500);
  text-align: left;
}
.fiarrowRightIcon2 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.button3 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-3xl);
  background-color: var(--primary-50);
  border-radius: var(--br-10xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
  white-space: nowrap;
}
.iconButtonContainer,
.job3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.job3 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
}
.locationMarker2 {
  width: 984px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.lineDiv {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--gray-100);
  box-sizing: border-box;
}
.employersLogoIcon4 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.employersLogo4 {
  height: 68px;
  border-radius: var(--br-9xs);
  background-color: var(--color-cornflowerblue-100);
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-9xl) var(--padding-base)
    var(--padding-base);
  box-sizing: border-box;
}
.seniorUxDesigner4 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.featured4 {
  position: relative;
  line-height: 20px;
}
.badge4,
.heading9 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.badge4 {
  border-radius: var(--br-44xl);
  background-color: var(--primary-501);
  align-items: flex-start;
  padding: var(--padding-10xs) var(--padding-4xs) var(--padding-10xs)
    var(--padding-xs);
  white-space: nowrap;
  font-size: var(--body-small-500-size);
  color: var(--primary-500);
}
.heading9 {
  align-items: center;
  gap: var(--gap-5xs);
}
.fimapPinIcon4 {
  height: 22px;
  width: 22px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 22px;
}
.unitedKingdomOf4 {
  position: relative;
  line-height: 20px;
}
.loaction4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.currencyDollar1Icon4 {
  height: 22px;
  width: 22px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 22px;
}
.k35k4 {
  position: relative;
  line-height: 20px;
}
.price8 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.calendarBlank114 {
  height: 22px;
  width: 22px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 22px;
}
.xcircleIcon4 {
  height: 20px;
  width: 20px;
  position: relative;
  display: none;
}
.daysRemaining4 {
  position: relative;
  line-height: 20px;
}
.price9 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-7xs);
}
.heading8,
.info8,
.info9,
.price9 {
  display: flex;
  justify-content: flex-start;
}
.info9 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-base);
  font-size: var(--body-small-500-size);
  color: var(--gray-scale-600);
}
.heading8,
.info8 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
}
.info8 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xl);
}
.bookmarksimpleIcon4 {
  height: 24px;
  width: 24px;
  position: relative;
}
.iconButton4 {
  border-radius: var(--br-8xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs);
}
.primary4 {
  position: relative;
  font-size: var(--button-button-size);
  line-height: 24px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--button-button);
  color: var(--primary-500);
  text-align: left;
}
.fiarrowRightIcon3 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.button4,
.frameDiv,
.job4 {
  display: flex;
  flex-direction: row;
}
.button4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-3xl);
  background-color: var(--primary-50);
  border-radius: var(--br-10xs);
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
  white-space: nowrap;
}
.frameDiv,
.job4 {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.job4 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
  z-index: 1;
}
.locationMarker3 {
  width: 984px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.locationMarkerChild1 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--gray-100);
  box-sizing: border-box;
  z-index: 2;
}
.employersLogoIcon5 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.employersLogo5 {
  height: 68px;
  border-radius: var(--br-9xs);
  background-color: var(--color-tomato);
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-9xl) var(--padding-base)
    var(--padding-base);
  box-sizing: border-box;
}
.seniorUxDesigner5 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.featured5 {
  position: relative;
  line-height: 20px;
}
.badge5,
.heading11 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.badge5 {
  border-radius: var(--br-44xl);
  background-color: var(--primary-501);
  align-items: flex-start;
  padding: var(--padding-10xs) var(--padding-4xs) var(--padding-10xs)
    var(--padding-xs);
  white-space: nowrap;
  font-size: var(--body-small-500-size);
  color: var(--primary-500);
}
.heading11 {
  align-items: center;
  gap: var(--gap-5xs);
}
.fimapPinIcon5 {
  height: 22px;
  width: 22px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 22px;
}
.unitedKingdomOf5 {
  position: relative;
  line-height: 20px;
}
.loaction5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.currencyDollar1Icon5 {
  height: 22px;
  width: 22px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 22px;
}
.k35k5 {
  position: relative;
  line-height: 20px;
}
.price10 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.calendarBlank115 {
  height: 22px;
  width: 22px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 22px;
}
.xcircleIcon5 {
  height: 20px;
  width: 20px;
  position: relative;
  display: none;
}
.daysRemaining5 {
  position: relative;
  line-height: 20px;
}
.price11 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-7xs);
}
.heading10,
.info10,
.info11,
.price11 {
  display: flex;
  justify-content: flex-start;
}
.info11 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-base);
  font-size: var(--body-small-500-size);
  color: var(--gray-scale-600);
}
.heading10,
.info10 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
}
.info10 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xl);
}
.bookmarksimpleIcon5 {
  height: 24px;
  width: 24px;
  position: relative;
}
.iconButton5 {
  border-radius: var(--br-8xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs);
}
.primary5 {
  position: relative;
  font-size: var(--button-button-size);
  line-height: 24px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--button-button);
  color: var(--primary-500);
  text-align: left;
}
.fiarrowRightIcon4 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.button5 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-3xl);
  background-color: var(--primary-50);
  border-radius: var(--br-10xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
  white-space: nowrap;
}
.iconButtonParent1,
.job5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.job5 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
  z-index: 3;
}
.locationMarker4 {
  width: 984px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.locationMarkerChild2 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--gray-100);
  box-sizing: border-box;
  z-index: 8;
}
.employersLogoIcon6 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.employersLogo6 {
  height: 68px;
  border-radius: var(--br-9xs);
  background-color: var(--gray-scale-50);
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-9xl) var(--padding-base)
    var(--padding-base);
  box-sizing: border-box;
}
.seniorUxDesigner6 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.featured6 {
  position: relative;
  line-height: 20px;
}
.badge6,
.heading13 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.badge6 {
  border-radius: var(--br-44xl);
  background-color: var(--primary-501);
  align-items: flex-start;
  padding: var(--padding-10xs) var(--padding-xs);
  font-size: var(--body-small-500-size);
  color: var(--primary-500);
}
.heading13 {
  align-items: center;
  gap: var(--gap-5xs);
}
.fimapPinIcon6 {
  height: 22px;
  width: 22px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 22px;
}
.unitedKingdomOf6 {
  position: relative;
  line-height: 20px;
}
.loaction6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.currencyDollar1Icon6 {
  height: 22px;
  width: 22px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 22px;
}
.k35k6 {
  position: relative;
  line-height: 20px;
}
.price12 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.calendarBlank116 {
  height: 22px;
  width: 22px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 22px;
}
.xcircleIcon6 {
  height: 20px;
  width: 20px;
  position: relative;
  display: none;
}
.daysRemaining6 {
  position: relative;
  line-height: 20px;
}
.price13 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-7xs);
}
.heading12,
.info12,
.info13,
.price13 {
  display: flex;
  justify-content: flex-start;
}
.info13 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-base);
  font-size: var(--body-small-500-size);
  color: var(--gray-scale-600);
}
.heading12,
.info12 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
}
.info12 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xl);
}
.bookmarksimpleIcon6 {
  height: 24px;
  width: 24px;
  position: relative;
}
.iconButton6 {
  border-radius: var(--br-8xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs);
}
.primary6 {
  position: relative;
  font-size: var(--button-button-size);
  line-height: 24px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--button-button);
  color: var(--primary-500);
  text-align: left;
}
.fiarrowRightIcon5 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.button6 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-3xl);
  background-color: var(--primary-50);
  border-radius: var(--br-10xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
  white-space: nowrap;
}
.iconButtonParent2,
.job6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.job6 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
  z-index: 9;
}
.locationMarker5 {
  width: 984px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.locationMarkerChild3 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--gray-100);
  box-sizing: border-box;
  z-index: 10;
}
.employersLogoIcon7 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.employersLogo7 {
  height: 68px;
  border-radius: var(--br-9xs);
  background-color: var(--gray-scale-900);
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-9xl) var(--padding-base)
    var(--padding-base);
  box-sizing: border-box;
}
.seniorUxDesigner7 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.featured7 {
  position: relative;
  line-height: 20px;
}
.badge7,
.heading15 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.badge7 {
  border-radius: var(--br-44xl);
  background-color: var(--primary-501);
  align-items: flex-start;
  padding: var(--padding-10xs) var(--padding-4xs) var(--padding-10xs)
    var(--padding-xs);
  white-space: nowrap;
  font-size: var(--body-small-500-size);
  color: var(--primary-500);
}
.heading15 {
  align-items: center;
  gap: var(--gap-5xs);
}
.fimapPinIcon7 {
  height: 22px;
  width: 22px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 22px;
}
.unitedKingdomOf7 {
  position: relative;
  line-height: 20px;
}
.loaction7 {
  width: 146px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.currencyDollar1Icon7 {
  height: 22px;
  width: 22px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 22px;
}
.k35k7 {
  position: relative;
  line-height: 20px;
}
.price14 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.calendarBlank117 {
  height: 22px;
  width: 22px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 22px;
}
.xcircleIcon7 {
  height: 20px;
  width: 20px;
  position: relative;
  display: none;
}
.daysRemaining7 {
  position: relative;
  line-height: 20px;
}
.price15 {
  flex: 1;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-7xs);
  min-width: 97px;
}
.heading14,
.info14,
.info15,
.price15 {
  display: flex;
  justify-content: flex-start;
}
.info15 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-base);
  font-size: var(--body-small-500-size);
  color: var(--gray-scale-600);
}
.heading14,
.info14 {
  max-width: 100%;
}
.heading14 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-xs);
}
.info14 {
  width: 423px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xl);
}
.bookmarksimpleIcon7 {
  height: 24px;
  width: 24px;
  position: relative;
}
.iconButton7 {
  border-radius: var(--br-8xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs);
}
.primary7 {
  position: relative;
  font-size: var(--button-button-size);
  line-height: 24px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--button-button);
  color: var(--primary-500);
  text-align: left;
}
.fiarrowRightIcon6 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.button7 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-3xl);
  background-color: var(--primary-50);
  border-radius: var(--br-10xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
  white-space: nowrap;
}
.iconButtonParent3,
.job7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.job7 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
  z-index: 11;
}
.locationMarker6 {
  width: 984px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.locationMarkerChild4 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--gray-100);
  box-sizing: border-box;
  z-index: 12;
}
.employersLogoIcon8 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.employersLogo8 {
  height: 68px;
  border-radius: var(--br-9xs);
  background-color: var(--color-black);
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-9xl) var(--padding-base)
    var(--padding-base);
  box-sizing: border-box;
}
.seniorUxDesigner8 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.featured8 {
  position: relative;
  line-height: 20px;
}
.badge8,
.heading17 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.badge8 {
  border-radius: var(--br-44xl);
  background-color: var(--primary-501);
  align-items: flex-start;
  padding: var(--padding-10xs) var(--padding-xs);
  font-size: var(--body-small-500-size);
  color: var(--primary-500);
}
.heading17 {
  align-items: center;
  gap: var(--gap-5xs);
}
.fimapPinIcon8 {
  height: 22px;
  width: 22px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 22px;
}
.unitedKingdomOf8 {
  position: relative;
  line-height: 20px;
}
.loaction8 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.currencyDollar1Icon8 {
  height: 22px;
  width: 22px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 22px;
}
.k35k8 {
  position: relative;
  line-height: 20px;
}
.price16 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.calendarBlank118 {
  height: 22px;
  width: 22px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 22px;
}
.xcircleIcon8 {
  height: 20px;
  width: 20px;
  position: relative;
  display: none;
}
.daysRemaining8 {
  position: relative;
  line-height: 20px;
}
.price17 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-7xs);
}
.heading16,
.info16,
.info17,
.price17 {
  display: flex;
  justify-content: flex-start;
}
.info17 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-base);
  font-size: var(--body-small-500-size);
  color: var(--gray-scale-600);
}
.heading16,
.info16 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
}
.info16 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xl);
}
.bookmarksimpleIcon8 {
  height: 24px;
  width: 24px;
  position: relative;
}
.iconButton8 {
  border-radius: var(--br-8xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs);
}
.primary8 {
  position: relative;
  font-size: var(--button-button-size);
  line-height: 24px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--button-button);
  color: var(--primary-500);
  text-align: left;
}
.fiarrowRightIcon7 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.button8 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-3xl);
  background-color: var(--primary-50);
  border-radius: var(--br-10xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
  white-space: nowrap;
}
.iconButtonParent4,
.job8 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.job8 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
  z-index: 13;
}
.locationMarker7 {
  width: 984px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.locationMarkerChild5 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--gray-100);
  box-sizing: border-box;
  z-index: 14;
}
.employersLogoIcon9 {
  height: 24px;
  width: 24px;
  position: relative;
}
.employersLogo9 {
  height: 68px;
  border-radius: var(--br-9xs);
  background-color: var(--color-limegreen-100);
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-9xl) var(--padding-base)
    var(--padding-base);
  box-sizing: border-box;
}
.seniorUxDesigner9 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.featured9 {
  position: relative;
  line-height: 20px;
}
.badge9,
.heading19 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.badge9 {
  border-radius: var(--br-44xl);
  background-color: var(--primary-501);
  align-items: flex-start;
  padding: var(--padding-10xs) var(--padding-4xs) var(--padding-10xs)
    var(--padding-xs);
  white-space: nowrap;
  font-size: var(--body-small-500-size);
  color: var(--primary-500);
}
.heading19 {
  align-items: center;
  gap: var(--gap-5xs);
}
.fimapPinIcon9 {
  height: 22px;
  width: 22px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 22px;
}
.unitedKingdomOf9 {
  position: relative;
  line-height: 20px;
}
.loaction9 {
  width: 158px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.currencyDollar1Icon9 {
  height: 22px;
  width: 22px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 22px;
}
.k35k9 {
  position: relative;
  line-height: 20px;
}
.price18 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.calendarBlank119 {
  height: 22px;
  width: 22px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 22px;
}
.xcircleIcon9 {
  height: 20px;
  width: 20px;
  position: relative;
  display: none;
}
.daysRemaining9 {
  position: relative;
  line-height: 20px;
}
.price19 {
  flex: 1;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-7xs);
  min-width: 97px;
}
.heading18,
.info18,
.info19,
.price19 {
  display: flex;
  justify-content: flex-start;
}
.info19 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-base);
  font-size: var(--body-small-500-size);
  color: var(--gray-scale-600);
}
.heading18,
.info18 {
  max-width: 100%;
}
.heading18 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-xs);
}
.info18 {
  width: 440px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xl);
}
.bookmarksimpleIcon9 {
  height: 24px;
  width: 24px;
  position: relative;
}
.iconButton9 {
  border-radius: var(--br-8xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs);
}
.primary9 {
  position: relative;
  font-size: var(--button-button-size);
  line-height: 24px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--button-button);
  color: var(--primary-500);
  text-align: left;
}
.fiarrowRightIcon8 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.button9 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-3xl);
  background-color: var(--primary-50);
  border-radius: var(--br-10xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
  white-space: nowrap;
}
.iconButtonParent5,
.job9 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.job9 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
  z-index: 15;
}
.jobParent,
.locationMarker8 {
  width: 984px;
  flex-direction: column;
}
.locationMarker8 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.jobParent {
  overflow-x: auto;
  max-width: 100%;
  font-size: var(--button-button-size);
}
.favoriteJobs17Parent,
.frameWrapper,
.jobParent,
.sidebarParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.favoriteJobs17Parent {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.frameWrapper,
.sidebarParent {
  box-sizing: border-box;
}
.frameWrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-29xl) 0 0;
  max-width: calc(100% - 336px);
  font-size: var(--body-large-500-size);
  color: var(--gray-900);
}
.sidebarParent {
  width: 1360px;
  flex-direction: row;
  padding: 0 var(--padding-xl);
  gap: var(--gap-29xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--body-xs-400-size);
  color: var(--gray-400);
  font-family: var(--button-button);
}
.fiarrowRightIcon9 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  transform: rotate(-180deg);
}
.iconButton10 {
  height: 48px;
  width: 48px;
  border-radius: var(--br-65xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs);
  box-sizing: border-box;
  transform: rotate(180deg);
}
.paginationControl {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.pagination1 {
  flex: 1;
  border-radius: var(--br-31xl);
  background-color: var(--primary-500);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm);
  color: var(--gray-scale-white);
}
.div1 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.pagination2 {
  flex: 1;
  border-radius: var(--br-31xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm);
}
.div2 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.pagination3 {
  border-radius: var(--br-31xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-sm) var(--padding-sm)
    var(--padding-mini);
}
.div3 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.pagination4 {
  border-radius: var(--br-31xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-sm) var(--padding-sm)
    var(--padding-mini);
}
.div4 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.pages,
.pagination5 {
  flex: 1;
  display: flex;
  flex-direction: row;
}
.pagination5 {
  border-radius: var(--br-31xl);
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm);
}
.pages {
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 156px;
}
.fiarrowRightIcon10 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.iconButton11,
.pagination,
.paginationWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.iconButton11 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs);
  background-color: var(--primary-50);
  height: 48px;
  width: 48px;
  border-radius: var(--br-65xl);
  justify-content: flex-start;
  box-sizing: border-box;
}
.pagination,
.paginationWrapper {
  max-width: 100%;
}
.pagination {
  width: 352px;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.paginationWrapper {
  width: 728px;
  justify-content: flex-end;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.candidateFavoriteJobs {
  width: 100%;
  position: relative;
  background-color: var(--gray-scale-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 108px;
  box-sizing: border-box;
  gap: var(--gap-29xl);
  letter-spacing: normal;
  text-align: center;
  font-size: var(--body-small-500-size);
  color: var(--gray-600);
  font-family: var(--button-button);
}
@media screen and (max-width: 1275px) {
  .frameWrapper {
    padding-top: var(--padding-12xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .sidebar {
    display: none;
  }
  .info13,
  .info3,
  .info7 {
    flex-wrap: wrap;
  }
  .frameWrapper {
    padding-top: var(--padding-xl);
    box-sizing: border-box;
    max-width: 100%;
  }
  .candidateFavoriteJobs,
  .sidebarParent {
    gap: var(--gap-29xl);
  }
}
@media screen and (max-width: 450px) {
  .sidebar {
    gap: var(--gap-219xl);
  }
  .heading1,
  .info1,
  .info11,
  .info15,
  .info17,
  .info19,
  .info5,
  .info9 {
    flex-wrap: wrap;
  }
}
