.frameJobStatus {
  width: 4px;
  height: 4px;
  position: absolute;
  margin: 0 !important;
  right: 296px;
  bottom: -68px;
  background-color: #c4c4c4;
}
.employersDashboard {
  width: 248px;
  position: relative;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
}
.logOut,
.stackIcon {
  height: 24px;
  width: 24px;
  position: relative;
}
.logOut {
  width: 64px;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--button-button);
  font-size: var(--body-small-500-size);
  background-color: transparent;
  height: 20px;
  line-height: 20px;
  color: var(--primary-500);
  text-align: left;
  display: inline-block;
}
.dashboardNavItem {
  align-self: stretch;
  background-color: var(--primary-50);
  box-shadow: 3px 0 0#0a65cc inset;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-base);
}
.logOut1 {
  position: absolute;
  top: calc(50% - 10px);
  left: 60px;
  line-height: 20px;
  font-weight: 500;
}
.usercircleIcon {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 24px;
  height: 24px;
}
.dashboardNavItem1 {
  align-self: stretch;
  height: 44px;
  position: relative;
  display: none;
}
.pluscircleIcon {
  height: 24px;
  width: 24px;
  position: relative;
}
.logOut2 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.dashboardNavItem2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-base);
}
.briefcaseIcon {
  height: 24px;
  width: 24px;
  position: relative;
}
.logOut3 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.dashboardNavItem3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-base);
}
.bookmarksimpleIcon {
  height: 24px;
  width: 24px;
  position: relative;
}
.logOut4 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.dashboardNavItem4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-base);
}
.logOut5 {
  position: absolute;
  top: calc(50% - 10px);
  left: 60px;
  line-height: 20px;
  font-weight: 500;
}
.notebookIcon {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 24px;
  height: 24px;
}
.dashboardNavItem5 {
  align-self: stretch;
  height: 44px;
  position: relative;
  display: none;
}
.logOut6 {
  position: absolute;
  top: calc(50% - 10px);
  left: 60px;
  line-height: 20px;
  font-weight: 500;
}
.userListIcon {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.dashboardNavItem6 {
  align-self: stretch;
  height: 44px;
  position: relative;
  display: none;
}
.logOut7 {
  position: absolute;
  top: calc(50% - 10px);
  left: 60px;
  line-height: 20px;
  font-weight: 500;
}
.gearIcon {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 24px;
  height: 24px;
}
.dashboardNavItem7 {
  align-self: stretch;
  height: 44px;
  position: relative;
  display: none;
}
.jobFrameStatusJob {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--body-small-500-size);
  color: var(--gray-500);
}
.links,
.logOut8 {
  align-self: stretch;
}
.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.logOut8 {
  width: 0;
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
}
.signoutIcon {
  height: 24px;
  width: 24px;
  position: relative;
  display: none;
}
.dashboardNavItem8,
.sidebar {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.dashboardNavItem8 {
  align-self: stretch;
  height: 44px;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xs) var(--padding-41xl);
  gap: var(--gap-base);
  font-size: var(--body-small-500-size);
  color: var(--gray-500);
}
.sidebar {
  width: 288px;
  background-color: var(--gray-scale-white);
  box-shadow: -1px 0 0#e4e5e8 inset;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-5xl) 0;
  gap: var(--gap-627xl);
}
.helloInstagram {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.hereIsYour {
  align-self: stretch;
  position: relative;
  font-size: var(--body-small-500-size);
  line-height: 20px;
  color: var(--gray-500);
}
.jobStatusFrameCheckCircle {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.div,
.savedCandidates {
  align-self: stretch;
  position: relative;
}
.div {
  line-height: 32px;
  font-weight: 600;
}
.savedCandidates {
  font-size: var(--body-small-500-size);
  line-height: 20px;
  color: var(--color-gray-100);
}
.info {
  width: 204px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.identificationcardIcon {
  height: 32px;
  width: 32px;
  position: relative;
}
.icon {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base);
  background-color: var(--gray-scale-white);
  border-radius: var(--br-8xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.daysremainingnumber,
.funFacts,
.users {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.funFacts {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: #fef5e8;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xl) var(--padding-xl) var(--padding-xl)
    var(--padding-5xl);
  box-sizing: border-box;
  min-width: 309px;
  gap: var(--gap-xl);
}
.daysremainingnumber,
.users {
  align-items: flex-start;
  justify-content: flex-start;
}
.users {
  flex: 1;
  flex-wrap: wrap;
  gap: var(--gap-5xl);
}
.daysremainingnumber {
  align-self: stretch;
  padding: 0 0 var(--padding-3xs);
  box-sizing: border-box;
  font-size: var(--heading-04-size);
}
.readMore,
.recentlyPostedJobs {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.readMore {
  font-size: var(--button-button-size);
  font-family: var(--button-button);
  color: var(--gray-500);
  text-align: left;
}
.fiarrowRightIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.button,
.heading {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-12xs) 0 0;
  background-color: transparent;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.heading {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.actions,
.applications,
.jobs,
.status {
  position: relative;
  line-height: 18px;
  display: inline-block;
}
.jobs {
  flex: 1;
  max-width: 100%;
}
.actions,
.applications,
.status {
  width: 88px;
  flex-shrink: 0;
}
.actions,
.applications {
  width: 184px;
}
.actions {
  width: 244px;
}
.nav {
  width: 984px;
  border-radius: var(--br-9xs);
  background-color: var(--gray-50);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.checkCircleFullTimeCheckedChild {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--gray-100);
  box-sizing: border-box;
}
.suniorUxDesigner {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.daysRemaining,
.div1,
.fullTime {
  position: relative;
  line-height: 20px;
}
.fullTimeParent,
.suniorUXDesigner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.fullTimeParent {
  flex-direction: row;
  gap: var(--gap-3xs);
  font-size: var(--body-small-500-size);
  color: var(--gray-500);
}
.suniorUXDesigner {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xs);
  min-width: 239px;
  max-width: 100%;
  font-size: var(--button-button-size);
}
.checkcircle {
  cursor: pointer;
  margin: 0;
  height: 20px;
  width: 20px;
  position: relative;
  min-height: 20px;
}
.active {
  flex: 1;
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.jobStatus {
  width: 88px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  color: var(--success-500);
}
.usersIcon {
  height: 24px;
  width: 24px;
  position: relative;
}
.applications1 {
  flex: 1;
  position: relative;
  line-height: 20px;
}
.jobStatus1 {
  width: 184px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
  color: var(--gray-600);
}
.primary {
  position: relative;
  font-size: var(--button-button-size);
  line-height: 24px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--button-button);
  color: var(--primary-500);
  text-align: left;
}
.button1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-3xl);
  background-color: var(--gray-50);
  border-radius: var(--br-10xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.button1:hover {
  background-color: var(--color-gainsboro-200);
}
.dotsthreeverticalIcon {
  height: 24px;
  width: 24px;
  position: relative;
}
.activeJobStatus,
.iconButton {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.iconButton {
  border-radius: var(--br-8xs);
  padding: var(--padding-xs);
}
.activeJobStatus {
  gap: var(--gap-5xs);
}
.checkCircleFullTimeChecked1,
.job {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.job {
  align-self: stretch;
  border-radius: var(--br-5xs);
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  flex-shrink: 0;
  z-index: 4;
}
.checkCircleFullTimeChecked1 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  margin-left: -984px;
}
.checkCircleFullTimeChecked,
.jobContainer,
.jobGroup,
.jobParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.jobContainer,
.jobGroup,
.jobParent {
  flex: 1;
  max-width: 100%;
  margin-left: -984px;
}
.checkCircleFullTimeChecked {
  width: 984px;
  font-size: var(--body-small-500-size);
  color: var(--gray-900);
}
.checkCircleFullTimeCheckedItem {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--gray-100);
  box-sizing: border-box;
}
.checkCircleFullTimeChecked2,
.headingParent,
.iconButtonDotsThreeVertica,
.navParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.checkCircleFullTimeChecked2 {
  width: 984px;
}
.headingParent,
.iconButtonDotsThreeVertica,
.navParent {
  max-width: 100%;
}
.navParent {
  width: 984px;
  overflow-x: auto;
  font-size: var(--body-xs-400-size);
  color: var(--gray-700);
}
.headingParent,
.iconButtonDotsThreeVertica {
  align-self: stretch;
}
.headingParent {
  gap: var(--gap-xl);
  font-size: var(--button-button-size);
}
.iconButtonDotsThreeVertica {
  gap: var(--gap-5xl);
}
.buttonPrimary,
.dotsThreeVertical {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.buttonPrimary {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-35xl) 0 0;
  max-width: calc(100% - 336px);
  font-size: var(--body-large-500-size);
  color: var(--gray-900);
}
.dotsThreeVertical {
  width: 1360px;
  flex-direction: row;
  padding: 0 var(--padding-xl);
  gap: var(--gap-29xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--body-xs-400-size);
  color: var(--gray-400);
  font-family: var(--button-button);
}
.checkCircleActive,
.employerDashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.checkCircleActive {
  align-self: stretch;
  max-width: 100%;
}
.employerDashboard {
  width: 100%;
  position: relative;
  background-color: var(--gray-scale-white);
  overflow: hidden;
  padding: 0 0 116px;
  box-sizing: border-box;
  letter-spacing: normal;
}
@media screen and (max-width: 1275px) {
  .sidebar {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .sidebar {
    display: none;
  }
  .buttonPrimary {
    padding-top: var(--padding-16xl);
    box-sizing: border-box;
    max-width: 100%;
  }
  .dotsThreeVertical {
    gap: var(--gap-29xl);
  }
}
@media screen and (max-width: 450px) {
  .sidebar {
    gap: var(--gap-627xl);
  }
  .div {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }
  .funFacts,
  .heading {
    flex-wrap: wrap;
  }
  .buttonPrimary {
    padding-top: var(--padding-4xl);
    box-sizing: border-box;
  }
}
