.jobPage {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
  }
  
  .jobContent {
    display: flex; /* Use flexbox to create two columns */
    flex-direction: row; /* Align children horizontally */
    gap: 20px; /* Add some space between the columns */
    padding: 0px;
    width: 100%;
    max-width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;

  }
  
  .jobDetailColumn, .additionalContentColumn {
    flex: 0 0 50%; /* Each column takes up half of the .jobContent width */
    display: flex;
    flex-direction: column;
    /* If you want exact halves, you can use flex: 0 0 50%; instead */
  }

  .jobDetailHeader,
  .jobDescriptionSection,
  .jobDetailSection {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    width: 90%;
  }
  
  .jobTitle {
    font-size: 2.5rem; /* Increase font size */
    font-weight: bold;
    margin-bottom: 1rem; /* Increase margin */
  }
  
  .jobCompany, 
  .jobLocation, 
  .jobPostedDate, 
  .jobApplicationDeadline, 
  .jobExperienceRequired {
    font-size: 1.25rem; /* Increase font size */
    color: #666;
    margin-bottom: 0.5rem; /* Increase margin */
  }
  
  .jobDescription {
    font-size: 1.25rem; /* Increase font size */
    color: #333;
    line-height: 1.5;
  }
  
  .sectionTitle {
    font-size: 1.5rem; /* Increase font size */
    font-weight: bold;
    margin-bottom: 1.5rem; /* Increase margin */
  }
  
  /* Add additional styles as necessary */
  .candidateCard {
    width: 80%;
    background: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  

  
  .candidateName {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .candidatePhoneNumber, .candidateEmail {
    font-size: 1rem;
    color: #666;
    margin: 5px 0;
  }
  
  .viewCandidateButton {
    background-color: var(--primary-500);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .viewCandidateButton:hover {
    background-color: var(--color-dodgerblue);
  }

  .interactionIcons {
    align-self: center; /* Center the icons container */
    display: flex;
    gap: 8px; /* Space between buttons */
    margin-bottom: 16px;
    margin-left: 50px; /* Space above the View Candidate button */
  }
  
  /* Button styles */
  .likeButton,
  .dislikeButton {
    background: none;
    border: none;
    cursor: pointer;
    display: inline-flex; /* Flex container for the buttons */
    justify-content: center; /* Center the icons horizontally */
    align-items: center; /* Center the icons vertically */
    padding: 4px; /* Padding around the icons */
    border-radius: 4px; /* Rounded corners for the buttons */
    transition: background-color 0.3s ease; /* Smooth transition for the hover effect */
  }
  
  .likeButton:hover {
    background-color: #4CAF50; /* Green background on hover for like button */
  }
  
  .dislikeButton:hover {
    background-color: #F44336; /* Red background on hover for dislike button */
  }
  
  /* Icon styles */
  .thumbsupIcon,
  .thumbsdownIcon {
    width: 24px; /* Set your desired icon size */
    height: auto;
  }
  

  .actionButtons {
    display: flex; /* Use flexbox to lay out the children */
    flex-direction: column; /* Stack children vertically */
    align-items: right; /* Center children horizontally */
    width: 15%; /* Take the full width of the parent */
  }

  .recommendationsHeading {

    font-size: 2rem;
    font-weight: 590;
    color: #333;
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
  }