.employersDashboard {
  width: 248px;
  position: relative;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
}
.stackIcon {
  height: 24px;
  width: 24px;
  position: relative;
}
.logOut {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.dashboardNavItem {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-base);
}
.logOut1 {
  position: absolute;
  top: calc(50% - 10px);
  left: 60px;
  line-height: 20px;
  font-weight: 500;
}
.usercircleIcon {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 24px;
  height: 24px;
}
.dashboardNavItem1 {
  align-self: stretch;
  height: 44px;
  position: relative;
  display: none;
}
.pluscircleIcon {
  height: 24px;
  width: 24px;
  position: relative;
}
.logOut2 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.dashboardNavItem2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-base);
}
.briefcaseIcon,
.logOut3 {
  height: 24px;
  width: 24px;
  position: relative;
}
.logOut3 {
  width: 57px;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--button-button);
  font-size: var(--body-small-500-size);
  background-color: transparent;
  height: 20px;
  line-height: 20px;
  color: var(--primary-500);
  text-align: left;
  display: inline-block;
}
.dashboardNavItem3 {
  align-self: stretch;
  background-color: var(--primary-50);
  box-shadow: 3px 0 0#0a65cc inset;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-base);
}
.bookmarksimpleIcon {
  height: 24px;
  width: 24px;
  position: relative;
}
.logOut4 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.dashboardNavItem4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xl);
  gap: var(--gap-base);
}
.logOut5 {
  position: absolute;
  top: calc(50% - 10px);
  left: 60px;
  line-height: 20px;
  font-weight: 500;
}
.notebookIcon {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 24px;
  height: 24px;
}
.dashboardNavItem5 {
  align-self: stretch;
  height: 44px;
  position: relative;
  display: none;
}
.logOut6 {
  position: absolute;
  top: calc(50% - 10px);
  left: 60px;
  line-height: 20px;
  font-weight: 500;
}
.userListIcon {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.dashboardNavItem6 {
  align-self: stretch;
  height: 44px;
  position: relative;
  display: none;
}
.logOut7 {
  position: absolute;
  top: calc(50% - 10px);
  left: 60px;
  line-height: 20px;
  font-weight: 500;
}
.gearIcon {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 24px;
  height: 24px;
}
.dashboardNavItem7 {
  align-self: stretch;
  height: 44px;
  position: relative;
  display: none;
}
.checkCircleNode {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--body-small-500-size);
  color: var(--gray-500);
}
.checkCircleNode,
.links,
.logOut8 {
  align-self: stretch;
}
.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.logOut8 {
  width: 0;
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
}
.signoutIcon {
  height: 24px;
  width: 24px;
  position: relative;
  display: none;
}
.dashboardNavItem8 {
  align-self: stretch;
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-41xl);
  box-sizing: border-box;
  gap: var(--gap-base);
  font-size: var(--body-small-500-size);
  color: var(--gray-500);
}
.primaryNode,
.sidebar {
  flex-direction: column;
  align-items: flex-start;
}
.sidebar {
  width: 288px;
  background-color: var(--gray-scale-white);
  box-shadow: -1px 0 0#e4e5e8 inset;
  display: flex;
  justify-content: flex-start;
  padding: var(--padding-5xl) 0;
  box-sizing: border-box;
  gap: var(--gap-928xl);
}
.primaryNode {
  flex: 1;
  padding: 40px 0 0;
  max-width: calc(100% - 337px);
}
.employerMyJobs,
.primaryNode,
.sidebarParent {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.sidebarParent {
  width: 1365px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-xl);
  gap: var(--gap-30xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--body-xs-400-size);
  color: var(--gray-400);
  font-family: var(--button-button);
}
.employerMyJobs {
  width: 100%;
  position: relative;
  background-color: var(--gray-scale-white);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: 0 0 117px;
  letter-spacing: normal;
}
@media screen and (max-width: 1275px) {
  .sidebar {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .sidebar {
    display: none;
  }
  .primaryNode {
    max-width: 100%;
  }
  .sidebarParent {
    gap: var(--gap-30xl);
  }
}
@media screen and (max-width: 450px) {
  .sidebar {
    gap: var(--gap-928xl);
  }
}
