.jobTittle,
.postAJob {
  position: absolute;
  left: 636px;
}
.postAJob {
  margin: 0;
  top: 136px;
  font-size: var(--heading-04-size);
  line-height: 32px;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  width: 984px;
}
.jobTittle {
  top: 200px;
  line-height: 20px;
}
.emailAddress {
  width: 268px;
  border: 0;
  outline: 0;
  font-family: var(--button-button);
  font-size: var(--button-button-size);
  background-color: transparent;
  height: 24px;
  position: relative;
  line-height: 24px;
  color: var(--gray-400);
  text-align: left;
  display: inline-block;
}
.inputField,
.tags {
  position: absolute;
  left: 636px;
}
.inputField {
  top: 228px;
  border-radius: var(--br-8xs);
  background-color: var(--gray-scale-white);
  border: 1px solid var(--gray-100);
  box-sizing: border-box;
  width: 984px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-lg);
  max-width: 100%;
}
.tags {
  top: 294px;
  line-height: 20px;
}
.emailAddress1 {
  width: 201px;
  border: 0;
  outline: 0;
  font-family: var(--button-button);
  font-size: var(--button-button-size);
  background-color: transparent;
  height: 24px;
  position: relative;
  line-height: 24px;
  color: var(--gray-400);
  text-align: left;
  display: inline-block;
}
.inputField1 {
  position: absolute;
  top: 322px;
  left: 636px;
  border-radius: var(--br-8xs);
  background-color: var(--gray-scale-white);
  border: 1px solid var(--gray-100);
  box-sizing: border-box;
  width: 650px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-lg);
  max-width: 100%;
}
.jobRole {
  position: absolute;
  top: 294px;
  left: 1304px;
  line-height: 20px;
}
.select1 {
  position: relative;
  line-height: 24px;
}
.fichevronDownIcon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.select {
  position: absolute;
  top: 322px;
  left: 1304px;
  border-radius: var(--br-7xs);
  background-color: var(--gray-scale-white);
  border: 1px solid var(--gray-100);
  box-sizing: border-box;
  width: 316px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-mid);
  gap: var(--gap-xl);
  font-size: var(--button-button-size);
  color: var(--gray-500);
}
.minSalery,
.salery {
  position: absolute;
  left: 636px;
}
.salery {
  top: 402px;
  font-size: var(--body-large-500-size);
  line-height: 28px;
  font-weight: 500;
  display: inline-block;
  width: 984px;
}
.minSalery {
  top: 448px;
  line-height: 20px;
}
.minimumSalery,
.usd {
  position: relative;
  line-height: 24px;
}
.usd {
  font-size: var(--button-button-size);
  font-family: var(--button-button);
  color: var(--gray-600);
  text-align: right;
}
.inputField2,
.usdWrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.usdWrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs);
  background-color: var(--color-whitesmoke-200);
  width: 66px;
  justify-content: center;
}
.usdContainer:hover,
.usdWrapper:hover {
  background-color: var(--color-gainsboro-300);
}
.inputField2 {
  position: absolute;
  top: 476px;
  left: 636px;
  border-radius: var(--br-8xs);
  background-color: var(--gray-scale-white);
  border: 1px solid var(--gray-100);
  width: 316px;
  overflow: hidden;
  justify-content: space-between;
  padding: 0 var(--padding-11xs) 0 var(--padding-base);
  gap: var(--gap-xl);
  font-size: var(--button-button-size);
  color: var(--gray-400);
}
.maxSalery {
  position: absolute;
  top: 448px;
  left: 970px;
  line-height: 20px;
}
.maximumSalery,
.usd1 {
  position: relative;
  line-height: 24px;
}
.usd1 {
  font-size: var(--button-button-size);
  font-family: var(--button-button);
  color: var(--gray-600);
  text-align: right;
}
.inputField3,
.usdContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.usdContainer {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs);
  background-color: var(--color-whitesmoke-200);
  width: 66px;
  justify-content: center;
}
.inputField3 {
  position: absolute;
  top: 476px;
  left: 970px;
  border-radius: var(--br-8xs);
  background-color: var(--gray-scale-white);
  border: 1px solid var(--gray-100);
  width: 316px;
  overflow: hidden;
  justify-content: space-between;
  padding: 0 var(--padding-11xs) 0 var(--padding-base);
  gap: var(--gap-xl);
  font-size: var(--button-button-size);
  color: var(--gray-400);
}
.saleryType {
  position: absolute;
  top: 448px;
  left: 1304px;
  line-height: 20px;
}
.select3 {
  position: relative;
  line-height: 24px;
}
.fichevronDownIcon1 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.select2 {
  position: absolute;
  top: 476px;
  left: 1304px;
  border-radius: var(--br-7xs);
  background-color: var(--gray-scale-white);
  border: 1px solid var(--gray-100);
  box-sizing: border-box;
  width: 316px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-mid);
  gap: var(--gap-xl);
  font-size: var(--button-button-size);
  color: var(--gray-500);
}
.information {
  top: 556px;
  font-size: var(--body-large-500-size);
  line-height: 28px;
  font-weight: 500;
  display: inline-block;
  width: 984px;
}
.information,
.jobPostingForm,
.vacancies {
  position: absolute;
  left: 636px;
}
.jobPostingForm {
  top: 602px;
  width: 984px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
  max-width: 100%;
}
.vacancies {
  top: 696px;
  line-height: 20px;
}
.select5 {
  position: relative;
  line-height: 24px;
}
.fichevronDownIcon2 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.select4 {
  position: absolute;
  top: 724px;
  left: 636px;
  border-radius: var(--br-7xs);
  background-color: var(--gray-scale-white);
  border: 1px solid var(--gray-100);
  box-sizing: border-box;
  width: 316px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-mid);
  gap: var(--gap-xl);
  font-size: var(--button-button-size);
  color: var(--gray-500);
}
.expirationDate {
  position: absolute;
  top: 696px;
  left: 970px;
  line-height: 20px;
}
.emailAddress2 {
  width: 125px;
  border: 0;
  outline: 0;
  font-family: var(--button-button);
  font-size: var(--button-button-size);
  background-color: transparent;
  height: 24px;
  position: relative;
  line-height: 24px;
  color: var(--gray-400);
  text-align: left;
  display: inline-block;
}
.inputField4 {
  position: absolute;
  top: 724px;
  left: 970px;
  border-radius: var(--br-8xs);
  background-color: var(--gray-scale-white);
  border: 1px solid var(--gray-100);
  box-sizing: border-box;
  width: 316px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-lg);
}
.jobLevel {
  position: absolute;
  top: 696px;
  left: 1304px;
  line-height: 20px;
}
.select7 {
  position: relative;
  line-height: 24px;
}
.fichevronDownIcon3 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.select6 {
  position: absolute;
  top: 724px;
  left: 1304px;
  border-radius: var(--br-7xs);
  background-color: var(--gray-scale-white);
  border: 1px solid var(--gray-100);
  box-sizing: border-box;
  width: 316px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-mid);
  gap: var(--gap-xl);
  font-size: var(--button-button-size);
  color: var(--gray-500);
}
.descriptionResponsibility {
  position: absolute;
  top: 804px;
  left: 636px;
  font-size: var(--body-large-500-size);
  line-height: 28px;
  font-weight: 500;
  display: inline-block;
  width: 984px;
}
.description,
.responsibilities {
  position: absolute;
  top: 850px;
  left: 636px;
  line-height: 20px;
}
.responsibilities {
  top: 1066px;
}
.primary {
  position: relative;
  font-size: var(--button-button-size);
  line-height: 24px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--button-button);
  color: var(--gray-scale-white);
  text-align: left;
}
.fiarrowRightIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) 33px var(--padding-base) var(--padding-13xl);
  background-color: var(--primary-500);
  position: absolute;
  top: 1296px;
  left: 636px;
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  white-space: nowrap;
}
.button:hover {
  background-color: var(--color-dodgerblue);
}
.employersDashboard {
  align-self: stretch;
  position: relative;
  line-height: 18px;
  font-weight: 500;
  padding-left: var(--padding-xl);
  padding-right: var(--padding-xl);
}
.links,
.logOut {
  align-self: stretch;
}
.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.logOut {
  width: 0;
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
}
.signoutIcon {
  height: 24px;
  width: 24px;
  position: relative;
  display: none;
}
.dashboardNavItem {
  align-self: stretch;
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-41xl);
  box-sizing: border-box;
  gap: var(--gap-base);
  font-size: var(--body-small-500-size);
  color: var(--gray-500);
}
.employerPostAJob,
.sidebar {
  background-color: var(--gray-scale-white);
}
.sidebar {
  position: absolute;
  top: 87px;
  left: 300px;
  box-shadow: -1px 0 0#e4e5e8 inset;
  width: 288px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) 0;
  box-sizing: border-box;
  gap: 1254px;
  font-size: var(--body-xs-400-size);
  color: var(--gray-400);
}
.employerPostAJob {
  width: 100%;
  height: 1798px;
  position: relative;
  overflow: hidden;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--body-small-500-size);
  color: var(--gray-900);
  font-family: var(--button-button);
}
@media screen and (max-width: 900px) {
  .employerPostAJob {
    height: auto;
    min-height: 1798;
  }
}
@media screen and (max-width: 450px) {
  .postAJob {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }
}
